{%extends 'admin/base.html'%}
{%load static%}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {%block content_header%}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">User Profile</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    {%endblock%}
    <!-- /.content-header -->

    <!-- Main content -->
    {%block content%}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{%static 'student/dist/img/user4-128x128.jpg'%}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">Nina Mcintire</h3>

                <p class="text-muted text-center">Software Engineer</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Followers</b> <a class="float-right">1,322</a>
                  </li>
                  <li class="list-group-item">
                    <b>Following</b> <a class="float-right">543</a>
                  </li>
                  <li class="list-group-item">
                    <b>Friends</b> <a class="float-right">13,287</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Education</strong>

                <p class="text-muted">
                  B.S. in Computer Science from the University of Tennessee at Knoxville
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                <p class="text-muted">Malibu, California</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                <p class="text-muted">
                  <span class="tag tag-danger">UI Design</span>
                  <span class="tag tag-success">Coding</span>
                  <span class="tag tag-info">Javascript</span>
                  <span class="tag tag-warning">PHP</span>
                  <span class="tag tag-primary">Node.js</span>
                </p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                        <span class="username">
                          <a href="#">Jonathan Burke Jr.</a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description">Shared publicly - 7:30 PM today</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore the hate as they create awesome
                        tools to help create filler text for everyone from bacon lovers
                        to Charlie Sheen fans.
                      </p>

                      <p>
                        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                        <span class="float-right">
                          <a href="#" class="link-black text-sm">
                            <i class="far fa-comments mr-1"></i> Comments (5)
                          </a>
                        </span>
                      </p>

                      <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                    </div>
                    <!-- /.post -->

                    <!-- Post -->
                    <div class="post clearfix">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                        <span class="username">
                          <a href="#">Sarah Ross</a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description">Sent you a message - 3 days ago</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore the hate as they create awesome
                        tools to help create filler text for everyone from bacon lovers
                        to Charlie Sheen fans.
                      </p>

                      <form class="form-horizontal">
                        <div class="input-group input-group-sm mb-0">
                          <input class="form-control form-control-sm" placeholder="Response">
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-danger">Send</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!-- /.post -->

                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="../../dist/img/user6-128x128.jpg" alt="User Image">
                        <span class="username">
                          <a href="#">Adam Jones</a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description">Posted 5 photos - 5 days ago</span>
                      </div>
                      <!-- /.user-block -->
                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <img class="img-fluid" src="../../dist/img/photo1.png" alt="Photo">
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                          <div class="row">
                            <div class="col-sm-6">
                              <img class="img-fluid mb-3" src="../../dist/img/photo2.png" alt="Photo">
                              <img class="img-fluid" src="../../dist/img/photo3.jpg" alt="Photo">
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-6">
                              <img class="img-fluid mb-3" src="../../dist/img/photo4.jpg" alt="Photo">
                              <img class="img-fluid" src="../../dist/img/photo1.png" alt="Photo">
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <p>
                        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                        <span class="float-right">
                          <a href="#" class="link-black text-sm">
                            <i class="far fa-comments mr-1"></i> Comments (5)
                          </a>
                        </span>
                      </p>

                      <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                    </div>
                    <!-- /.post -->
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-danger">
                          10 Feb. 2014
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-envelope bg-primary"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 12:05</span>

                          <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                          <div class="timeline-body">
                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                            quora plaxo ideeli hulu weebly balihoo...
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-primary btn-sm">Read more</a>
                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-user bg-info"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                          <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
                          </h3>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-comments bg-warning"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                          <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                          <div class="timeline-body">
                            Take me to your leader!
                            Switzerland is small and neutral!
                            We are more like Germany, ambitious and misunderstood!
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-success">
                          3 Jan. 2014
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-camera bg-purple"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                          <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                          <div class="timeline-body">
                            <img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings" style="overflow: auto;">
              <form action="{%if request.user.is_staff%}{%url 'addstudents'%}{%else%}/admin/include/view_data/0/0/0/False/{%endif%}" method="POST">
                {%csrf_token%}
                <div class="card-body row">
                	<div class="form-group col-md-6">
	                  <label for="center">Center: </label>
	                  <select name="center" class="custom-select form-control-border" id="center">
	                    <option {%if profile.0.center == 'shivaji Nagar' %}selected{%endif%} {%if not request.user.is_staff%}readonly{%endif%}>Shivaji Nagar</option>
	                  </select>
	                </div>
	                <div class="form-group col-sm-6">
                  		<label>Date of Addmission: </label>
                        <input type="date" name="dateofadmission" class="form-control" value="{{profile.0.dateofadmission}}" {%if not request.user.is_staff%}readonly{%endif%}/>
	                </div>
	                <div class="col-sm-6">
                      <!-- select -->
                      <div class="form-group">
                        <label>Course: </label>
                        <select name="course" class="form-control" {%if not request.user.is_staff%}readonly{%endif%}>
                          <option {%if profile.0.course == 'Python' %}selected{%endif%}>Python</option>
                          <option {%if profile.0.course == 'PHP' %}selected{%endif%}>PHP</option>
                          <option {%if profile.0.course == 'JAVA' %}selected{%endif%}>JAVA</option>
                          <option {%if profile.0.course == 'Testing' %}selected{%endif%}>Testing</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-sm-6">
                  		<label>Batch Start Date:</label>
                        <input type="date" class="form-control" name="batchstartdate" value="{{profile.0.batchstartdate}}" {%if not request.user.is_staff%}readonly{%endif%}/>
	                </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                        <label>Course Start Module: </label>
                        <select name="startcourse" class="form-control" {%if not request.user.is_staff%}readonly{%endif%}>
                          <option {%if profile.0.startcourse == 'C' %}selected{%endif%}>C</option>
                          <option {%if profile.0.startcourse == 'Sql' %}selected{%endif%}>Sql</option>
                          <option {%if profile.0.startcourse == 'Web Designing' %}selected{%endif%}>Web Designing</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Course Start Module: </label>
                        <select name="trainingmode" class="form-control" {%if not request.user.is_staff%}readonly{%endif%}>
                          <option {%if profile.0.trainingmode == 'Offline' %}selected{%endif%}>Offline</option>
                          <option {%if profile.0.trainingmode == 'Online' %}selected{%endif%}>Online</option>
                        </select>
                      </div>
                    </div>
	               <div class="col-md-12">
                    <label><b>Personal Details: </b></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Enter Name" value="{{profile.0.name}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="address">Address</label>
                    <input name="address" type="text" class="form-control" id="address" placeholder="Enter Name" value="{{profile.0.address}}">
                  </div>
                  <div class="form-group col-sm-6">
                  		<label>Date of Birth: </label>
	                     <input type="date" name="dateofbirth" class="form-control" value="{{profile.0.dateofbirth}}"/>
	                </div>
	                <div class="form-group col-md-6">
	                    <label for="contact">Contact</label>
	                    <input name="contact" type="tel" class="form-control" id="contact" placeholder="Enter Contact" value="{{profile.0.contact}}" {%if not request.user.is_staff%}readonly{%endif%}>
	                </div>
                  <div class="form-group col-md-6">
	                    <label for="alternatecontact">Alternate Contact</label>
	                    <input name="alternatecontact" type="tel" class="form-control" id="alternatecontact" placeholder="Enter Alternate Contact" value="{{profile.0.alternatecontact}}">
  	              </div>
                  <div class="form-group col-md-6">
                      <label for="exampleInputEmail1">Email address</label>
                      <input name="emailid" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="{{profile.0.emailid}}" {%if not request.user.is_staff%}readonly{%endif%}>
                  </div>
  			        <div class="row">
  			          <div class="col-12">
  			            <div class="card">
  			              <div class="card-header">
  			                <h3 class="card-title"><b>Eduactional Qualification</b></h3>
  			              </div>
  			              <!-- /.card-header -->
  			              <div class="card-body table-responsive p-0">
  			                <table class="table table-hover text-nowrap">
  			                  <thead>
  			                    <tr>
  			                      <th>Examination</th>
  			                      <th>Stream</th>
  			                      <th>Name of School/College</th>
  			                      <th>Board/University</th>
  			                      <th>Year of passing</th>
  			                      <th>Percentage</th>
  			                    </tr>
  			                  </thead>
  			                  <tbody>
            								<tr>
            									<td>
            										<select name="secondary" class="form-control">
            										<option value="SSC" selected>SSC</option>
            										</select>
            									</td>
            									<td>
            										<select name="stream10" class="form-control">
            										<option value="Marathi" {%if profile.0.stream == 'Marathi' %}selected{%endif%}>Marathi</option>
            										<option value="Semi-English" {%if profile.0.stream == 'Semi-English' %}selected{%endif%}>Semi-English</option>
            										<option value="English" {%if profile.0.stream == 'English' %}selected{%endif%}>English</option>
            										</select>
            									</td>
            									<td>
            										<input type="text" name="collegename10" class="form-control"value="{{profile.0.collegename}}">
            									</td>
            									<td>
            										<input type="text" name="boardname10" class="form-control"value="{{profile.0.boardname}}">
            									</td>
            									<td>
            										<input type="number" name="yearofpassing10" class="form-control" value="{{profile.0.yearofpassing}}">
            									</td>
            									<td>
            										<input type="number" name="percentage10" min="0" max="100" class="form-control" value="{{profile.0.percentage}}">
            									</td>
            								</tr>
            								<tr>
          									<td>
          										<select name="hsecondary" class="form-control">
          										<option value="HSC/Diploma" {%if not profile.1.examination %}selected{%endif%} hidden="">HSC/Diploma</option>
          										<option value="HSC" {%if profile.1.examination == 'HSC' %}selected{%endif%}>HSC</option>
          										<option value="Diploma" {%if profile.1.examination == 'Diploma' %}selected{%endif%}>Diploma</option>
          										</select>
          									</td>
          									<td>
          										<select name="stream12" class="form-control">
          										<option {%if profile.1.stream == 'Arts' %}selected{%endif%}>Arts</option>
          										<option {%if profile.1.stream == 'Commerce' %}selected{%endif%}>Commerce</option>
          										<option {%if not profile.1.examination %}selected{%endif%} {%if profile.1.stream == 'Science' %}selected{%endif%}>Science</option>
          										</select>
          									</td>
          									<td>
          										<input type="text" name="collegename12" class="form-control" value="{{profile.1.collegename}}">
          									</td>
          									<td>
          										<input type="text" name="boardname12" class="form-control" value="{{profile.1.boardname}}">
          									</td>
          									<td>
          										<input type="number" name="yearofpassing12" class="form-control" value="{{profile.1.yearofpassing}}">
          									</td>
          									<td>
          										<input type="number" name="percentage12" min="0" max="100" class="form-control" value="{{profile.1.percentage}}">
          									</td>
          								</tr>
          								<tr>
          									<td><select name="graduation" class="form-control">
          										<option value="B.E/B.Tech/B.Sc/BCA" {%if not profile.2.examination %}selected{%endif%} hidden="">B.E/B.Tech/B.Sc/BCA</option>
          										<option {%if profile.2.examination == 'B.E' %}selected{%endif%} value="B.E">B.E</option>
          										<option {%if profile.2.examination == 'B.Tech' %}selected{%endif%} value="B.Tech">B.Tech</option>
          										<option {%if profile.2.examination == 'B.Sc' %}selected{%endif%} value="B.Sc">B.Sc</option>
          										<option {%if profile.2.examination == 'B.CA' %}selected{%endif%} value="B.CA">B.CA</option>
          										</select>
          									</td>
          									<td>
          										<select name="streamg" class="form-control">
          										<option {%if profile.2.stream == 'Computer Science' %}selected{%endif%} value="Computer Science">Computer Science</option>
          										<option {%if profile.2.stream == 'Mechanical' %}selected{%endif%} value="Mechanical">Mechanical</option>
          										<option {%if profile.2.stream == 'E&TC' %}selected{%endif%} value="E&TC">E&TC</option>
          										</select>
          									</td>
          									<td>
          										<input type="text" name="collegenameg" class="form-control"  value="{{profile.2.collegename}}">
          									</td>
          									<td>
          										<input type="text" name="boardnameg" class="form-control"
                               value="{{profile.2.boardname}}">
          									</td>
          									<td>
          										<input type="number" name="yearofpassing" class="form-control" value="{{profile.2.yearofpassing}}">
          									</td>
          									<td>
          										<input type="number" name="percentageg" min="0" max="100" class="form-control" value="{{profile.2.percentage}}">
          									</td>
          								</tr>
          								<tr>
          									<td><select name="pg" class="form-control">
          										<option value="M.Sc/M.CA" {%if not profile.3.examination %}selected{%endif%} hidden="">M.Sc/M.CA</option>
          										<option {%if profile.3.examination == 'M.Sc' %}selected{%endif%} value="M.Sc">M.Sc</option>
          										<option {%if profile.3.examination == 'M.Sc' %}selected{%endif%} value="M.CA">M.Sc</option>
          										</select>
          									</td>
          									<td>
          										<select name="streampg" class="form-control">
          										<option {%if profile.3.stream == 'Computer Sciennce' %}selected{%endif%} value="Computer Sciennce" selected>Computer Sciennce</option>
          										<option {%if profile.3.stream == 'Computer Application' %}selected{%endif%} value="Computer Application">Computer Application</option>
          										</select>
          									</td>
          									<td>
          										<input type="text" name="collegenamepg" class="form-control" value="{{profile.3.collegename}}">
          									</td>
          									<td>
          										<input type="text" name="boardnamepg" class="form-control" value="{{profile.3.boardname}}">
          									</td>
          									<td>
          										<input type="number" name="yearofpassinpg" class="form-control" value="{{profile.3.yearofpassing}}">
          									</td>
          									<td>
          										<input type="number" name="percentagepg" min="0" max="100" class="form-control" value="{{profile.3.percentage}}">
          									</td>
          								</tr>
			                    
			                  </tbody>
			                </table>
			              </div>
                    
			              <!-- /.card-body -->
			            </div>
			          </div>
  			        </div>
  			        <!-- <div class="row"> -->
			        	<div class="form-group col-md-4">
                    <label for="fees">Fees: </label>
                    <input type="number" class="form-control" name="fees" id="fees" placeholder="Fees" value="{{profile.0.fees}}" {%if not request.user.is_staff%}readonly{%endif%}>
              	</div>
              	<div class="form-group col-md-8">
              		<label for="fees">Mode Of Payment: </label>
	              		<div class="form-group clearfix">
	                      <div class="icheck-primary d-inline">
	                        <input type="checkbox" name="mode" id="checkboxPrimary1" value="LumpSum" checked {%if not request.user.is_staff%}onclick="return false"{%endif%}>
	                        <label for="checkboxPrimary1">Lump Sum
	                        </label>
	                      </div>
	                    </div>

                      <div class="icheck-primary d-inline">
                        <input type="checkbox" name="mode" id="checkboxPrimary1" value="1" {%if not request.user.is_staff%}onclick="return false"{%endif%}>
                        <label for="checkboxPrimary1">
                        </label>
                      </div>
                      <div class="icheck-primary d-inline">
                        <input type="checkbox" name="mode" id="checkboxPrimary2" value="2" {%if not request.user.is_staff%}onclick="return false"{%endif%}>
                        <label for="checkboxPrimary2">
                        </label>
                      </div>
                      <div class="icheck-primary d-inline">
                        <input type="checkbox" name="mode" id="checkboxPrimary3" value="3" {%if not request.user.is_staff%}onclick="return false"{%endif%}>
                        <label for="checkboxPrimary3">
                          Installment
                        </label>
                      </div>
                    </div>
    			        <div class="row">
    			          <div class="col-12">
    			            <div class="card">
    			              <div class="card-header">
    			                <h3 class="card-title"><b>Fees Schedule</b></h3>
    			              </div>
    			              <!-- /.card-header -->
    			              <div class="card-body table-responsive p-0">
    			                <table class="table table-hover text-nowrap">
    			                  <thead>
    			                    <tr>
    			                      <th> </th>
    			                      <th>Registration Ammount</th>
    			                      <th>1st installation</th>
    			                      <th>2nd Installation</th>
    			                      <th>3rd Installation</th>
    			                    </tr>
    			                  </thead>
    			                  <tbody>
              								<tr>
              									<td>Fees Payment Breakup</td>
                                <td><input type="number" name="regammount" class="form-control" value="{{profile.0.regammount}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
              									<td><input type="number" name="installment1" class="form-control" value="{{profile.0.installment1}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
              									<td><input type="number" name="installment2" class="form-control" value="{{profile.0.installment2}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
              									<td><input type="number" name="installment3" class="form-control" value="{{profile.0.installment3}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
              								</tr>
                              <tr>
                                <td>Dates of Installments</td>
                                <td><input type="date" name="regdate" class="form-control" value="{{profile.0.regdate}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
                                <td><input type="date" name="installment1date" class="form-control" value="{{profile.0.installment1date}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
                                <td><input type="date" name="installment2date" class="form-control" value="{{profile.0.installment2date}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
                                <td><input type="date" name="installment3date" class="form-control" value="{{profile.0.installment3date}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
                              </tr>
    			                  </tbody>
    			                </table>
    			              </div>
                      
    			              <!-- /.card-body -->
    			            </div>
                      <div class="form-group col-md-12">
                          <label for="remark">Remark</label>
                          <input type="text" name="remark" class="form-control" id="remark" placeholder="Enter Remark" value="{{profile.0.remark}}" {%if not request.user.is_staff%}readonly{%endif%} />
                        </div>
    			            <!-- /.card -->
    			          </div>
			           </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    {%endblock%}
    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
