    <form action="{%url 'addfeedback'%}" method="POST">
      {%csrf_token%}
      <div class="modal fade" id="feedback">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h4>Feedback</h4>
              <button type="button" class="close closelink" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body row" style="align-self: center;">
              <div class="form-group col-sm-6">
                <label> Course Name</label>
                <input type="text" name="cname" class="form-control" required="">
              </div>
              <div class="form-group col-sm-6">
                <label> Trainer Name</label>
                <input type="text" name="tname" class="form-control" required>
              </div>
              <div class="form-group col-sm-12">
                <label> Does your class starts on time? if no, tell us the reason</label>
                <input type="text" name="classlate" class="form-control" required>
              </div>
              <div class="form-group col-sm-12">
              <label> Has your trainer solved all your queries with regards to technical skills?</label>
                <div class="form-control">
                  <input type="radio" name="technicalquerysolved" value="Yes" required>&nbsp&nbspYes&nbsp&nbsp
                  <input type="radio" name="technicalquerysolved" value="No" required>&nbsp&nbspNo&nbsp&nbsp
                  <input type="radio" name="technicalquerysolved" value="Unsatisfied" required>&nbsp&nbspUnsatisfied&nbsp&nbsp
                </div>
              </div>
              <div class="form-group col-sm-12">
                <label> Does your mentor gives you practical sessions(task)?</label>
                <div class="form-control">
                  <input type="radio" name="practicalsessions" value="Yes" required>&nbsp&nbspYes&nbsp&nbsp
                  <input type="radio" name="practicalsessions" value="No" required>&nbsp&nbspNo&nbsp&nbsp
                  <input type="radio" name="practicalsessions" value="Unsatisfied" required>&nbsp&nbspUnsatisfied&nbsp&nbsp
                </div>
              </div>
              <div class="form-group col-sm-12">
                <label> How much you will rate your Trainer/Mentor?</label>
                <div class="form-control">
                  <input type="radio" name="trainerscore" value="1" required>&nbsp&nbsp1&nbsp&nbsp
                  <input type="radio" name="trainerscore" value="2" required>&nbsp&nbsp2&nbsp&nbsp
                  <input type="radio" name="trainerscore" value="3" required>&nbsp&nbsp3&nbsp&nbsp
                  <input type="radio" name="trainerscore" value="4" required>&nbsp&nbsp4&nbsp&nbsp
                  <input type="radio" name="trainerscore" value="5" required>&nbsp&nbsp5&nbsp&nbsp
                </div>
              </div>
              <div class="form-group col-sm-12">
                <label> How much you will rate Fortune Cloud Training service?</label>
                <div class="form-control">
                  <input type="radio" name="fortunescore" value="1" required>&nbsp&nbsp1&nbsp&nbsp
                  <input type="radio" name="fortunescore" value="2" required>&nbsp&nbsp2&nbsp&nbsp
                  <input type="radio" name="fortunescore" value="3" required>&nbsp&nbsp3&nbsp&nbsp
                  <input type="radio" name="fortunescore" value="4" required>&nbsp&nbsp4&nbsp&nbsp
                  <input type="radio" name="fortunescore" value="5" required>&nbsp&nbsp5&nbsp&nbsp
                </div>
              </div>
              <div class="form-group col-sm-12">
                <label> Any suggestions for Trainer & Fortune Cloud Technologies</label>
                <input type="text" name="suggestin" class="form-control" required>
              </div>
              <div class="form-group col-sm-12">
                <label> Would you like to refer your friend for training at Fortune cloud</label>
                  <select name="refer" class="form-control" onclick="feedbackform(this)">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="May be">May be</option>
                  </select>
              </div>
              <div class="collapse col-sm-12" id="refer">
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label> Give your friend name</label>
                    <input type="text" name="fname" class="form-control">
                  </div>
                  <div class="form-group col-sm-6">
                    <label> Contact number</label>
                    <input type="number" name="fcontact" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <input type="submit" name="submit" value="Submit" class="form-control bg-info" onclick="feedbackcoockie()">
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </form>