    <div class="modal fade" id="followus">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Fortune Cloud Technologies</h4>
            <button type="button" class="close closelink" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="align-self: center;font-family: monospace;">
            <div>
              <i class="fa fa-map-marker" style="color: blue;"></i> 3rd Floor, Abhinav Apartment, Next To Congress Bhavan, Above Pai Clinic, Shivaji Nagar, Pune, Maharashtra - 411005<br>
              <i class="fa fa-envelope" style="color: blue;"></i><a href="mailto:info@fortunecloudindia.com"> info@fortunecloudindia.com</a><br>
              <i class="fa fa-phone" style="color: blue;"></i><a href="tel:+919766439090"> +91 97664 39090</a><br><br>
              <iframe name="f3bdb19735fd76" width="1000px" height="350px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v3.3/plugins/page.php?adapt_container_width=true&amp;app_id=1855500024473719&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfe9fb89c3b6574%26domain%3Dwww.fortunecloudindia.com%26origin%3Dhttps%253A%252F%252Fwww.fortunecloudindia.com%252Ff30ca553da7e7f8%26relation%3Dparent.parent&amp;container_width=370&amp;height=350&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Ffortunecloudtechnologies%2F&amp;locale=en_GB&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline&amp;width=" style="border: none; visibility: visible; width: 340px; height: 71px;" class=""></iframe>
            </div>
            <div class="social" style="border:2px solid grey;text-align-last: justify;">
              <a href="https://www.facebook.com/fortunecloudtechnologies/" target="new" data-toggle="tooltip" data-placement="top" title="Facebook" onclick="loadinframe(this)"><i class="fab fa-facebook-square social" style="color: #1877f2;"></i></a>
              <a href="https://www.instagram.com/fortunecloud/" target="new" data-toggle="tooltip" data-placement="top" title="Instragram" onclick="loadinframe(this)"><i class="fab fa-instagram social" style="color: #db3465;"></i></a>
              <a href="https://twitter.com/fortunecloudind?s=20" target="new" onclick="loadinframe(this)"><i class="fab fa-twitter social" style="color: #28a9e0;" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
              <a href="https://www.linkedin.com/company/fortunecloud/" target="new" onclick="loadinframe(this)"><i class="fab fa-linkedin social" style="color: #0077b7" data-toggle="tooltip" data-placement="top" title="Linkedin"></i></a>
              <a href="https://www.youtube.com/channel/UCapKgnnZra4mA76FnhL1ZrQ" target="new" data-toggle="tooltip" data-placement="top" title="Youtube" onclick="loadinframe(this)"><i class="fab fa-youtube social" style="color: red"></i></a>
            </div>   
          </div>
          <div class="modal-footer justify-content-between">
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="notemodal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="card-title" id="notetitle"></h3>
            <button type="button" class="close closelink" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputName">Subject</label>
              <input type="text" name="subject" class="form-control" id="notesubject" disabled>
            </div>
            <div class="form-group">
              <label for="inputDescription">Description</label>
              <textarea name="description" class="form-control" rows="4" disabled id="notedesc"></textarea>
            </div>
            {%if notice.externallink%}
            <div class="form-group">
              <label for="customFile">File</label>
              <div class="custom-file link">
                <a class="btn btn-block btn-outline-info" href="/media/{{notice.file}}" id="notefile"><i class="fa fa-download"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAttachment</a>
              </div>
            </div>
            {%endif%}
            {%if notice.externallink%}
            <div class="form-group">
              <label for="externallink">External links</label>
               <div class="custom-file link">
                <a class="btn btn-outline-info form-control" id="notelink" style="overflow: hidden;" target="new">{{notice.externallink}}</a>
              </div>
            </div>
            {%endif%}
          </div>
          <div class="modal-footer justify-content-between">
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
