
  {%load static%}
  {%load admin_menu%}
  <aside id="sidebar" class="main-sidebar sidebar-dark-primary">
    <!-- Brand Logo -->
    <a href="{%if request.user.is_superuser%}{%url 'index'%}{%else%}{%url 'index'%}{%endif%}" class="brand-link" class="" style="background-color: white">
      <img src="{%static 'logon.png'%}" alt="Cravita Logo" class="brand-image " style="">
      <!-- <span class="brand-text font-weight-light">LMS</span> -->
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/media/{{request.session.profile_photo}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info" style="overflow:hidden;">
          <a {%if not request.user.is_staff%} href="{%url 'viewprofile'%}" {%endif%} class="d-block">{{request.user.first_name}}</a>
        </div>
         </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2" style="padding-bottom: 100px;">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item ">
            <a href="{%url 'index'%}" class="nav-link {%if request.resolver_match.url_name == 'index' %}active{%endif%}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <!-- <i class="right fas fa-angle-left"></i> -->
              </p>
            </a>
          </li>
          {%if request.user.is_staff%}
          <li class="nav-item">
            <a href="" class="nav-link {%if request.resolver_match.url_name == 'addstudents' or request.resolver_match.url_name == 'addgroups' or request.resolver_match.url_name == 'addusers' %}active{%endif%}">
              <i class="nav-icon fas fa-plus-square"></i>
              <p>
                Add Users
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              {%if request.user.is_superuser%}
              <li class="nav-item">
                <a href="{% url 'addstudents' %}" class="nav-link {%if request.resolver_match.url_name == 'addstudents' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Students</p>
                </a>
              </li>
              {%endif%}
              <li class="nav-item">
                <a href="{% url 'addgroups' %}" class="nav-link {%if request.resolver_match.url_name == 'addgroups' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Groups</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'addusers' %}" class="nav-link {%if request.resolver_match.url_name == 'addusers' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Members</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link {%if request.resolver_match.url_name == 'sheetdata' and table == 'student_profile' or table == 'studendent_performance' %}active{%endif%}{%if request.resolver_match.url_name == 'viewgroups'%}active{%endif%}{%if request.resolver_match.url_name == 'viewmembers'%}active{%endif%}">
              <i class="nav-icon fas fa-eye"></i>
              <p>
                View Users
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'sheetdata' table='student_profile' %}" class="nav-link {%if request.resolver_match.url_name == 'sheetdata' and table == 'student_profile' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Students Profile</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'sheetdata' table='student_performance' %}" class="nav-link {%if request.resolver_match.url_name == 'sheetdata' and table == 'studendent_performance' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Students Performance</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'viewgroups' %}" class="nav-link {%if request.resolver_match.url_name == 'viewgroups' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Groups</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'viewmembers' %}" class="nav-link {%if request.resolver_match.url_name == 'viewmembers' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Members</p>
                </a>
              </li>
            </ul>
          </li>
          {%endif%}
          <li class="nav-item">
            <a href="#" class="nav-link {%if request.resolver_match.url_name == 'addnotice' or request.resolver_match.url_name == 'viewnotice'%}active{%endif%}">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                Notice
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              {%if request.user.is_staff%}
              <li class="nav-item">
                <a href="{%url 'addnotice'%}" class="nav-link {%if request.resolver_match.url_name == 'addnotice' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add notice</p>
                </a>
              </li>
              {%endif%}
              <li class="nav-item">
                <a href="{%url 'viewnotice'%}" class="nav-link {%if request.resolver_match.url_name == 'viewnotice' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View notice</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link {%if request.resolver_match.url_name == 'video' %}active{%endif%}">
              <i class="fas fa-video"></i>
              <p>
                Videos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              {%if request.user.is_staff%}
              <li class="nav-item">
                <a href="{%url 'videopermissions'%}" class="nav-link {%if request.resolver_match.url_name == 'videopermissions' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Video Permissions</p>
                </a>
              </li>
              {%endif%}
              <li class="nav-item">
                <a {%if 'video' in per.C or request.user.is_superuser%}href="/video/C/"{%else%} data-toggle="tooltip" data-placement="top" title="This section is currently locked for you"{%endif%} class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'C' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>C Programing</p>
                </a>
              </li>
              <li class="nav-item">
                <a {%if 'video' in per.SQL or request.user.is_superuser%}href="/video/Sql/"{%else%} data-toggle="tooltip" data-placement="top" title="This section is currently locked for you"{%endif%}" class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'SQL' %}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>SQL</p>
                </a>
              </li>
              <li class="nav-item">
                <a {%if 'video' in per.WD or request.user.is_superuser%}href="/video/WD/"{%else%} data-toggle="tooltip" data-placement="top" title="This section is currently locked for you"{%endif%}" class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'WD'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Web Designing</p>
                </a>
              </li>
              {%if request.user.is_superuser%}
              <li class="nav-item">
                <a href="/video/Core_Python/" class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'Core Python'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Core Python</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/video/Core_JAVA/" class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'Core JAVA'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Core JAVA</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/video/Core_Angular/" class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'Core Angular'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Core Angular</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/video/Core_Testing/" class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'Core Testing'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Core Testing</p>
                </a>
              </li>
              {%else%}
              <li class="nav-item">
                <a {%if 'video' in per.PYTHON%}href="/video/Core_Python/"{%elif 'video' in per.JAVA%}href="/video/Core_Java/"{%elif 'video' in per.TESTING%}href="/video/Core_Testing/"{%elif 'video' in per.ANGULAR%}href="/video/Core_Angular/"{%else%} data-toggle="tooltip" data-placement="top" title="This section is currently locked for you"{%endif%} class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'Core'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Core Domain</p>
                </a>
              </li>
              {%endif%}
              {%if request.user.is_superuser%}
              <li class="nav-item">
                <a href="/video/Adv_Python/" class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'Adv_Python'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Adv Python</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/video/Adv_JAVA/" class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'Adv_JAVA'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Adv JAVA</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/video/Adv_Angular/" class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'Adv_Angular'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Adv Angular</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/video/Adv_Testing/" class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'Adv_Testing'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Adv Testing</p>
                </a>
              </li>
              {%else%}
              <li class="nav-item">
                <a {%if 'video' in per.PYTHON%}href="/video/Adv_Python/"{%elif 'video' in per.JAVA%}href="/video/Adv_Java/"{%elif 'video' in per.TESTING%}href="/video/Adv_Testing/"{%elif 'video' in per.ANGULAR%}href="/video/Adv_Angular/"{%else%} data-toggle="tooltip" data-placement="top" title="This section is currently locked for you"{%endif%} class="nav-link {%if request.resolver_match.url_name == 'video' and course == 'Adv'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Adv Domain</p>
                </a>
              </li>
              {%endif%}
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link {%if request.resolver_match.url_name == 'exam'%}active{%endif%}">
              <i class="fa fa-question"></i>
              <p>
                Exam
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview"> 
              {%if request.user.is_superuser%}
              <li class="nav-item">
                <a href="{%url 'add_questions'%}" class="nav-link {%if request.resolver_match.url_name == 'add_course'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Questions</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'view_questions' pageno=1%}" class="nav-link {%if request.resolver_match.url_name == 'view_questions'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View Questions</p>
                </a>
              </li>
              {%else%}
              <li class="nav-item">
                <a href="{%url 'mcq_exam'%}" class="nav-link {%if request.resolver_match.url_name == 'mcq_exam'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Exam</p>
                </a>
              </li>
              {%endif%}
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link {%if request.resolver_match.url_name == 'attendance'%}active{%endif%}">
              <i class="fas fa-check-square"></i>
              <p>
                Attendance
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%if request.user.is_staff%}{%url 'attendance'%}{%else%}{%url 'studentsattendance'%}{%endif%}" class="nav-link {%if request.resolver_match.url_name == 'attendance'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{%if request.user.is_superuser%}Add /{%endif%} view Attendance</p>
                </a>
              </li>
            </ul>
          </li>

          {%if request.user.is_superuser%}
          <li class="nav-item">
            <a href="#" class="nav-link {%if request.resolver_match.url_name == 'practicle_validate'%}active{%endif%}">
              <i class="fa fa-code"></i>
              <p>
                Evaluate Exams
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'practicle_validate'%}" class="nav-link {%if request.resolver_match.url_name == 'practicle_validate'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Open</p>
                </a>
              </li>
            </ul>
          </li>
          {%endif%}
          <li class="nav-item">
            <a href="#" class="nav-link {%if request.resolver_match.url_name == 'schedule'%}active{%endif%}">
              <i class="fa fa-calendar"></i>
              <p>
                Schedule
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'schedule'%}" class="nav-link {%if request.resolver_match.url_name == 'schedule'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Schedule</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link {%if request.resolver_match.url_name == 'timeline'%}active{%endif%}">
              <i class="fas fa-history"></i>
              <p>
                Timeline
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'timeline'%}" class="nav-link {%if request.resolver_match.url_name == 'timeline'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{%if request.user.is_superuser%}Add / {%endif%}View Timeline</p>
                </a>
              </li>
            </ul>
          </li>
          {%if request.user.is_superuser%}
          <li class="nav-item">
            <a href="#" class="nav-link {%if request.resolver_match.url_name == 'feedback'%}active{%endif%}">
              <i class="fas fa-edit"></i>
              <p>
                Feedback
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'sheetdata' table='feedback'%}" class="nav-link {%if request.resolver_match.url_name == 'feedback'%}active{%endif%}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View Feedback</p>
                </a>
              </li>
            </ul>
          </li>
          {%endif%}
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-lock"></i>
              <p>
                Logout
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'resspass'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reset Password</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'logout'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Log out</p>
                </a>
              </li>
            </ul>
          </li>
          {%if not request.user.is_staff%}
          <li class="nav-item">
            <a href="" class="nav-link" data-target="#followus" data-toggle='modal'>
              <i class="nav-icon fas fa-user-plus"></i>
              <p>
                Follow Us
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" data-target="#feedback" data-toggle='modal' id="feedbacklink">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Feedback 
              </p>
            </a>
          </li>
          {%endif%}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>