
main {
	padding: 10px 18px 10px;
	float: right;
	overflow: auto;
	height: 380px;
	background-color: #b9b9b9;
	border-radius: 7px;
	}

article {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	border: 2px solid white;
	border-radius: 8px;
	margin: 20px auto;
	height: 100px;
	overflow: hidden;
	background-color: #f8f9fa;
	font-weight: 600;
	font-size: 18px;
	color: #be0c0c;
	}

article:hover {
	border: 2px solid #ff9999;
	background-color: #0083ff;
	}

.title{
	overflow: hidden;
	height: 2em;
	}

.thumb {
	height: 70px;
	border-radius: 4px;
	}

.details {
	padding: 8px 22px;

	}

#video{

	/*width: 700px;*/
	height: 380px;
	/*height: 60%;*/
	width: 100%;

	}


.watched{
	opacity: 80%;
	background-color: #d7e6e2;
	}

.up_title{
	margin: 10px 0px;
	padding: 5px 40px;
	border: 1px grey solid;
	border-radius: 25px;
	height: max-content;
	color: #100092b3;
	background-color: #ffffff;
	font-size: 25px;
	font-weight: 800;
	/*padding: 0px 15px;*/
	}
	

@media only screen and (max-width: 600px) {
	#video{
		height: 100%;
		width: 100%;
		/*position: fixed;*/

		}
	main{

		height: -1px;
		float: bottom;
		overflow: auto;
		top:0px;
		position-top: 0px;
		margin-top: 20px;
		/*    display: flex;
		overflow: scroll;*/


		}
	.up_title{
		position: 75;
		/*margin-top: 75px;*/
		height: max-content;
		/*position: unset;*/
		width: 100%;
		}
	#title{
		overflow: hidden;
		height: 20px;
		font-size: 14px;
	}
}