
{%extends 'student/base.html'%}
{%load static%}
{%load admin_menu%}

{%block style%}
<style type="text/css">
  .hide{
    display: none;
  }
  label[for='photo']{
    height: 100px;
    /*width: 100px; */
    border: 1px solid #a54545cc;
    float: right;
    border-radius: 25%;
    /*background-image: url('/media/{{request.session.ab.photo}}');*/
    background-size: cover;
    padding: 30px;
  }
  .fa-camera:hover{
    color: #536273;
  }
  input[readonly="True"] {
    pointer-events: none;
  }
</style>
{%endblock%}

{%block page_link%}
{%block page_title%}
Add Student
{%endblock%}
{%endblock%}

{%block content%}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">{%if request.user.is_staff%}Admission Form{%else%}Profile{%endif%}</h3>
          </div>
          {%include 'student/includes/add_student_form.html'%}
    </div>
  </div>
</section>
{%endblock%}

{%block script%}
<script>
  var d = new Date();
  day = d.getDate()>10?d.getDate():"0"+d.getDate();
  month = d.getMonth()+1>10?d.getMonth()+1:"0"+(d.getMonth()+1);
  year = d.getFullYear();
  currentdate = year+"-"+month+'-'+day;
  $("input[name='dateofadmission']").val(currentdate);
  $("input[name='mode']").click(function(){
    // mode=$("input[name='mode']:checked").val();
    mode = this.value;
    // console.log(this.value);
    if (mode=="LumpSum"){
      $('#installment tbody tr').each(function(){
        $.each($(this).children(),function(i){
          if (i>2){
          $(this).children('input').attr('readonly','readonly');
          }
        })
      })
    }
    else if(mode==2){
      $('#installment tbody tr').each(function(){
        $.each($(this).children(),function(i){
          if (i>3){
          $(this).children('input').attr('readonly','readonly');
          }
        })
      })
    }
    else{
      $('#installment tbody tr').each(function(){
        $.each($(this).children(),function(){
          $(this).children('input').removeAttr('readonly');
        })
      })
    }
  });
</script>
{%endblock%}