
{%extends 'student/base.html'%}
{%load static%}
{%load admin_menu%}

{%block page_link%}
{%block page_title%}
Add Notice
{%endblock%}
{%endblock%}

{%block content%}
<section class="content">
  <div class="container-fluid">
  	<div class="row">
      {%if request.user.is_staff%}
  		<div class="col-md-4">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Add Notice</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <form action="{%url 'addnotice'%}" method="POST" enctype="multipart/form-data">
          {%csrf_token%}
          
          <div class="card-body">
            <div class="form-group">
              <label for="inputName">Subject</label>
              <input type="text" name="subject" id="inputName" class="form-control" required="">
            </div>
            <div class="form-group">
              <label for="inputDescription">Description</label>
              <textarea id="inputDescription" name="description" class="form-control" rows="4" required=""></textarea>
            </div>

            <div class="form-group">
              <label for="inputtype">Type</label>
              <select id="inputtype" name="type" class="form-control select2">
                <option value="Notice">Notice</option>
                <option value="Placement">Placement</option>
                <!-- <option></option> -->
              </select>
            </div>

            <div class="form-group">
              <label for="customFile">File</label>
              <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
            <div class="form-group">
              <label for="externallink">External links</label>
              <div class="form-group">
                <input type="text" name="externallink" class="form-control" id="externallink">
              </div>
            </div>
            <div class="form-group">
              <input type="submit" name="submit" class="form-control bg-info" value="Submit">
            </div>
          </div>
        <!-- </form> -->
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>{%endif%}
    {%for notice in data%}
    <div class="col-md-4">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">{{notice.generateddate}}</h3>

          <div class="card-tools">{%if request.user.is_staff%}
            <button type="button" class="btn btn-tool">
              <i class="fas fa-edit"></i>
            </button>{%endif%}
          </div>
        </div>
          <div class="card-body">
            <div class="form-group hide">
              <input type="hidden" name="id" class="form-control" value="{{notice.id}}" disabled>
            </div>
            <div class="form-group">
              <label for="inputName">Subject</label>
              <input type="text" name="subject" class="form-control" value="{{notice.title}}" disabled>
            </div>
            <div class="form-group">
              <label for="inputDescription">Description</label>
              <textarea name="description" class="form-control" rows="4" disabled>{{notice.description}}</textarea>
            </div>

            <div class="form-group">
              <label for="inputtype">Type</label>
              <select name="type" class="form-control select2" disabled>
                <option {%if notice.type == 'Notice'%} selected {%endif%}>Notice</option>
                <option {%if notice.type == 'Placement'%} selected {%endif%}>Placement</option>
              </select>
            </div>

            <div class="form-group">
              <label for="customFile">File</label>
              <div class="custom-file link">
                <a class="btn btn-block btn-outline-info" {%if notice.file%} href="/media/{{notice.file}}" {%endif%}><i class="fa fa-download"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAttachment</a>
              </div>
              <div class="custom-file input hide">
                <input type="file" name="file" class="custom-file-input">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
            <div class="form-group">
              <label for="externallink">External links</label>
               <div class="custom-file link">
                <a class="btn btn-outline-info form-control" {%if externallink%}href="{{notice.externallink}}" style="overflow: hidden;" target="new"{%endif%}>{{notice.externallink}}</a>
              </div>
              <div class="custom-file input hide">
                <input type="text" name="externallink" class="form-control" value="{{notice.externallink}}">
              </div>
            </div>
            {%if request.user.is_staff%}
            <div class="form-group">
              <input type="submit" name="submit" class="form-control bg-success" value="Submit" disabled>
            </div>
            {%endif%}
          </div>

        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    {%endfor%}
  </form>
  </div>
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        {% if data.has_previous %}
        <li class="page-item {%if data.number == 1%} hide{%endif%}">
                <a class="page-link" href="?page=1">&laquo; First</a>
              </li>
        <li class="page-item {%if data.number == 1%} hide{%endif%}">
                <a class="page-link" href="?page={{ data.previous_page_number }}">< Previous</a>
              </li>
        {% endif %}
        
        {%for i in data.paginator.num_pages|range%}
        {%if forloop.counter < 5%}
        <li class="page-item  {%if data.number == i%}active{%endif%}">
          {%if forloop.counter == 5%}
          <a class="page-link" href="">...</a>
          {%else%}
          <a class="page-link" href="?page={{i}}">{{i}}</a>
          {%endif%}
        </li>
        {%endif%}
        {%endfor%}

        {% if data.has_next %}
        <li class="page-item">
                <a class="page-link" href="?page={{ data.next_page_number }}">Next ></a>
              </li>
        <li class="page-item">
                <a class="page-link" href="?page={{ data.paginator.num_pages }}">Last &raquo;</a>
              </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</section>
{%endblock%}


{%block script%}
<style type="text/css">
  input[readonly="True"] {
  pointer-events: none;
}
.hide{
  display: none;
}
</style>
<script>
  $('.fa-edit').click(function(){
    $('.card-body div input').each(function(){
      if (!$(this).attr("disabled")) {
        $(this).attr('disabled','disabled');
      }
    });
    $('.card-body div textarea').each(function(){
      if (!$(this).attr("disabled")) {
        $(this).attr('disabled','disabled');
      }
    });
    $('.card-body div select').each(function(){
      if (!$(this).attr("disabled")) {
        $(this).attr('disabled','disabled');
      }
    });
    $('.link').removeClass('hide');
    $('.input').addClass('hide');
      
    $(this).parent().parent().parent().parent().children('div').each(function(){
      // alert();
      $(this).children('div').children('input').removeAttr("disabled");
      $(this).children('div').children('textarea').removeAttr("disabled");
      $(this).children('div').children('select').removeAttr("disabled");
      $(this).children('div').children(".custom-file").children('input').removeAttr('disabled');
      $(this).children('div').children(".input").removeClass('hide');
      $(this).children('div').children('.link').addClass('hide');
      // $('.custom-file .input').removeClass('hide');
    });
  });

  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2({
          tags:true
          })

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4',
      // tags:true
    })
});
</script>
{%endblock%}