{%extends 'student/base.html'%}
{%load static%}
{%block style%}
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid.min.css'%}">
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid-theme.min.css'%}">
  <style type="text/css">
  .fix-id{
     position: sticky;
  left: 0;
  z-index: 2;
  }
  .fix-name{
    position: sticky;
    left: 0px;
    z-index: 2;
  }
  .fix-contact{
    position: sticky;
    left: 150px;
    z-index: 2;
  }
</style>
{%endblock%}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {%block content_header%}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Attendance</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Attendance</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
    {%endblock%}

    <!-- Main content -->
    {%block content%}
    <section class="content">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Student Attendance</h3>

          <button class="btn btn-success" style="float: right;" onclick=markattendance()>Mark Attendance</button>
          <div class="" style="width: max-content;float: right;margin-right: 10px;">
            <!-- <label>Custom Select</label> -->
            <select name="sheetname" class="custom-select" onchange="load()">
              {%for sheetname in sheetnames%}
              <option value="{{sheetname}}">{{sheetname}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div id="grid"></div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    <button class="btn btn-success" style="float: right;" onclick=markattendance()>Mark Attendance</button>

    </section>
    {%endblock%}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!-- jQuery -->
{%block script%}
<style type="text/css">
  .hide{
    display: none;
  }
</style>
<!-- <script type="text/javascript" src="{%static 'student/dist/js/attendance.js'%}"></script> -->
<script src="{%static 'student/plugins/jsgrid/jsgrid.min.js'%}"></script>

<script type="text/javascript">
 present = [];
window.db ={};
load();
function load(){
  present = [];
    var sheetname=$("select[name='sheetname']").val();
// console.log(sheetname);
var url = "{%url 'getdata' table='attendance'%}";
$.get(url,{sheetname:sheetname},function(data,status){

    data = data.replaceAll("'",'"');
    db.data=JSON.parse(data);

    fields= [
        { name: "ID", type: "number", width: 70, css:"hide",editing:false},
        { name: "NAME", type: "text", width: 150,css:"fix-name",editing:false},
        { name: "CONTACT", type: "text", width: 100,css:'fix-contact',editing:false},
        { name: "EMAIL ID", type: "text",width: 100,editing:false},
        { name: "Today", type:"checkbox", width:50,editing: false}
    ];


    window.col = Object.keys(db.data[0]);
    for(i=col.length-1;i>5;i--){

        if (col[i]===currentdate) {
        fields.push({name:col[i],type:'checkbox',editing:false});

        }
        else{
        fields.push({name:col[i],type:'checkbox',editing:false});

        }
        // console.log(fields);
    };
    $('#grid').jsGrid({fields:fields});
 
    $('#grid').jsGrid({data:db.data});

    add();

});
}



$(function () {
   d = new Date();
  date = d.getDate();
  if(date.toString().length==1){
   date="0"+date;
  }
  month = d.getMonth()+1;
  if(month.toString().length==1){
   month="0"+month;
  }
  year = d.getFullYear();
  // console.log(date,month,year);
  const currentdate = date+'/'+month+'/'+year;
  currentdate.replaceAll('"','')
    $("#grid").jsGrid({
        height: "auto",
        width: "100%",

        filtering: true,
        editing: false,
        sorting: true,
        paging: true,
        data: db.data,

        controller: {
          loadData: function(filter) {
           return $.grep(db.data, function(client) {
                var flag=false;
                $.each(Object.keys(client),function(key,val){
                    val=val.toString();
                    val1=client[val].toString();
                    val2=filter[val];
                    if (!val2 || val2==undefined || val1.indexOf(val2) > -1){

                    flag=true;
                    }else{
                        flag=false;
                        return false;
                    };
                })
                 if (flag) {
                    return client;
                }
            });
        },
          insertItem: $.noop,
          updateItem: function(rowIndex) { 
            len = (Object.keys(window.db.data[0]).length-1).toString();

            sheetname = $("select[name='sheetname']").val();

            Url = "";
            a = db.data[0];
            Url = "{%url 'setdata' table='attendance'%}";
            update = "";
            if(!a.hasOwnProperty(currentdate)){
              update=false;
            }else{
                update=true;
            }
                $.get(Url,{rowv:rowIndex.present,row:len,sheetname:sheetname,update:update},function(data,status){
                }).done(function(){
                  window.location.replace(window.location.href);

                });
        },
          deleteItem: $.noop
        },
        fields: [
            { name: "ID", type: "number", width: 70, css:"hide",editing:false},
            { name: "NAME", type: "text", width: 150,css:"fix-name",editing:false},
            { name: "CONTACT", type: "text", width: 100,css:'fix-contact',editing:false},
            { name: "EMAIL ID", type: "text",width: 100,editing:false},
            { name: "Today", type:"checkbox", width:50,editing: true}
        ]
    });
  });

function addattendance(x){
  flag=true;
  console.log(x);
  for( var i = 0; i < present.length; i++){ 
        if (present[i] === x) { 
            present.splice(i,1); 
            flag = false;
        }
    }
    if (flag) {
      present.push(x);
    }
  console.log(present);
}
function markattendance(){
  // console.log('a');
  $("#grid").jsGrid("updateItem",{present:present});
}
function add(){
  {%if request.user.is_staff%}
  addaction();
  {%endif%}
}
    d = new Date();
  date = d.getDate();
  if(date.toString().length==1){
   date="0"+date;
  }
  month = d.getMonth()+1;
  if(month.toString().length==1){
   month="0"+month;
  }
  year = d.getFullYear();
  // console.log(date,month,year);
  const currentdate = date+'/'+month+'/'+year;
  currentdate.replaceAll('"',"");
function addaction(){
        $('.jsgrid-table tbody tr').each(function(){
          a=$(this)[0];
          b=a.children[4];
          if (db.data[0][currentdate]=="" ||db.data[0][currentdate]=="p") {
            e=$('.jsgrid-grid-header .jsgrid-table tr')[0].children[4];
            f=$('.jsgrid-grid-header .jsgrid-table tr')[1].children[4];
            b.setAttribute("class","hide");
            e.setAttribute("class","hide");
            f.setAttribute("class","hide");
            f=$('.jsgrid-grid-header .jsgrid-table tr')[0].children[5];
            g=a.children[5];
            f.innerText='Today';
          if(db.data[this.rowIndex][currentdate]==='p'){
              g.innerHTML='<input type=checkbox name=attendance checked onchange=addattendance('+this.rowIndex+')></input>';
              present.push(this.rowIndex);
            }
            else{
              g.innerHTML='<input type=checkbox name=attendance onchange=addattendance('+this.rowIndex+')></input>';
            }
          }
          else{
            b.innerHTML='<input type=checkbox name=attendance onchange=addattendance('+this.rowIndex+')></input>';
          }
          
        });
    }

    function changesheet(){

    }
</script>
{%endblock%}