<!DOCTYPE html>
<html lang="en">
<head>
  {%load static%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fortune Cloud Technologies | LMS</title>

  {%include 'student/includes/csslinks.html'%}
  {%block style%}

  {%endblock%}
    <style type="text/css">
    .fa-link{
      color: deepskyblue;
    }
    .fa-file: hover{
      color: #1cc8c8;
    }
    .fa-link:hover{
      color: red;
    }
    .social{
      font-size: xx-large;
      font-weight: 400;
      margin: 9px;
    }
  </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="{%static 'student/dist/img/AdminLTELogo.png'%}" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
    {%include 'student/includes/navbar.html'%}

  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
    {%include 'student/includes/sidebar.html'%}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-top: 0px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{%block page_link%}{%endblock%}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">{%block page_title%}{%endblock%}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <button data-target="#notemodal" data-toggle="modal" id="notelinkbtn" style="display:none">sdasd</button>

    <!-- Main content -->
    {%block content%}
    {%endblock%}
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->


  <!-- Main Footer -->
  <footer class="main-footer" style="position: inherit;">
    <strong>Copyright &copy; 2021 <a href="http://www.cravitaaindia.com/">Cravita India Technologies</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>LEARNING MANAGMENT SYSTEM</b> 1.0v
    </div>
  </footer>

</div>
<!-- ./wrapper -->
<!-- <div id="sidebar-overlay"></div> -->
{%include 'student/includes/scriptlinks.html'%}

  {%include 'student/includes/followus_note_modal.html'%}
{%if not crs%}
  {%include 'student/includes/feedbackform.html'%}
{%endif%}

</body>
<!-- Page specific script -->
{%for message in messages%}
<script type="text/javascript">
  toastr.success('{{message}}')
</script>
{%endfor%}
<script type="text/javascript">
    function feedbackform(a){
    if ($(a).val()=='Yes'){
      $("#refer").removeClass('collapse');
    }
    else{
      $("#refer").addClass('collapse');
    }
  }

  {%if request.session.feedback%}
    $('#feedbacklink').trigger('click');
  {%endif%}

</script>
<script type="text/javascript">
  
  url = "{%url 'getnotice'%}";
  pageno = 1;
  load();
function load(){
  $.get(url,{pageno:pageno},function(data) {
    data = data.split(';')

    notice = JSON.parse(data[0]);
    console.log(data[1]);

    unread_notices=JSON.parse(data[1]);
    console.log(unread_notices);


    $('#noticecount').text(unread_notices.length);

    window.data = notice;

    $.each(notice,function(){
      active = '';
      if (unread_notices.indexOf(this.pk)>-1){
        active = 'active';
      }

       note = ` <a class="dropdown-item `+active+`" id=`+this.pk+` onclick=noticeopen(`+this.pk+`)>
            <!-- Message Start -->
            <div class="media" >
              <span class="img-size-50 mr-3" style="font-size: x-large; text-align-last: center;align-self: center;"><i class="fas fa-link" onclick="window.location.href='`+this.fields.externallink+`'" ></i></span>
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  `+this.fields.title+","+this.pk+`
                  <span class="float-right text-sm "><i class="fas fa-file" onclick="(function(){window.location.href='/media/`+this.fields.file+`'})()"></i></span>
                </h3>
                <p class="text-sm">`+this.fields.description+`</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> `+this.fields.generateddate+`</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>`;
      
      // $("#noticepannel div").append(note)
      $("#notes").append(note)
    })

  })
  pageno +=1;
}
  

  function noticeopen(id){
    
    if (unread_notices.indexOf(id) > -1){
     unread_notices.pop(id);      
    }
    $('#noticecount').text(unread_notices.length);
    $('#'+id).removeClass('active');
    $.each(window.data,function(){
      if (this.pk==id){
        field = this.fields;
        $('#notetitle').text(field.generateddate);
        $('#notesubject').attr('value',field.title);
        $('#notedesc').text(field.description);
        $('#notefile').attr('href',field.file);
        $('#notelink').text(field.externallink);
        $('#notelink').attr('href',field.externallink);
        $('#notelinkbtn').trigger('click');
      }
    })
    url = "{%url 'readnotice'%}";

    $.get(url,{id:id},function(){});
  }

  $('#notes').scroll(function() {
   if($('#notes').scrollTop()%500==0) {
    console.log($('#notes').scrollTop(),$('#notes')[0].scrollHeight,$('#notes'));
    
    load();
   }
  });
</script>
{%block script%}

{%endblock%}
</html>
