{%extends 'student/base.html'%}
{%load static%}
{%load admin_menu%}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {%block content_header%}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    {%endblock%}
    <!-- /.content-header -->

    <!-- Main content -->
    {%block content%}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="card col-md-3">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="/media/{{request.session.ab.photo}}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{profile.0.name}}</h3>

                <p class="text-muted text-center">{{profile.0.course}} - Developer</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Date of Admission</b> <a class="float-right">{{profile.0.dateofadmission}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Training Mode</b> <a class="float-right">{{profile.0.trainingmode}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Fees</b> <a class="float-right">{{profile.0.fees}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Fees Pending</b> <a class="float-right">{{profile.0.fees|sub:profile.0.regammount|sub:profile.0.installment1|sub:profile.0.installment2|sub:profile.0.installment3}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Next Installments</b> <a class="float-right">
                      {{profile.0.installment1date|installmentdate}} 
                      {{profile.0.installment2date|installmentdate}} 
                      {{profile.0.installment3date|installmentdate}}</a>
                  </li>
                </ul>

                <a href="{%url 'request_certificate'%}" class="btn btn-primary btn-block"><b>Request for Certificate</b></a>
              </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>44</h3>

                <p>Attendance</p>
              </div>
              <div class="icon">
                <a href="{%url 'attendance'%}" class="icon"><i class="fas fa-check-square"></i></a>
              </div>
              <a href="{%url 'attendance'%}" class="small-box-footer">
                Attendance <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <div class="col-1"></div>
        </div>
       
      </div><!--/. container-fluid -->
    </section>
    {%endblock%}
    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
