{%extends 'student/base.html'%}
{%load static%}
{%block style%}
<style type="text/css">
  .hide{
    display: none;
  }
  label[for='photo']{
    height: 100px;
    width: 100px; 
    border: 1px solid #a54545cc;
    float: right;
    border-radius: 25%;
    background-image: url('/media/{{request.session.ab.photo}}');
    background-size: cover;
    padding: 30px;
  }
</style>
{%endblock%}
{%load admin_menu%}
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {%block content_header%}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">User Profile</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    {%endblock%}
    <!-- /.content-header -->

    <!-- Main content -->
    {%block content%}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="/media/{{request.session.ab.photo}}"
                       alt="User profile picture">
                </div>
                <br>
                <div class="text-center">
                    <input type="text" class="knob"  data-thickness="0.1" data-width="90" data-height="90"
                           data-fgColor="#00a65a" readonly="true">

                    <div class="knob-label">Average Performance</div>
                  </div>
                <h3 class="profile-username text-center">{{profile.0.name}}</h3>

                <p class="text-muted text-center">{{profile.0.course}} - Developer</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Date of Admission</b> <a class="float-right">{{profile.0.dateofadmission}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Training Mode</b> <a class="float-right">{{profile.0.trainingmode}}</a>
                  </li>
                  <!-- <li class="list-group-item">
                    <b>Fees</b> <a class="float-right">{{profile.0.fees}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Fees Pending</b> <a class="float-right"></a>
                  </li>
                  <li class="list-group-item">
                    <b>Next Installment</b> <a class="float-right"></a>
                  </li> -->
                </ul>
                <a href="{%if not rc.id%}{%url 'request_certificate'%}{%endif%}" class="btn btn-primary {%if rc.certificate_status == 'In Process'%}btn-info{%elif rc.certificate_status == 'success'%}btn-success{%endif%} btn-block"><b>Request for Certificate</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="overflow-y: scroll;">
                <strong><i class="fas fa-book mr-1"></i> Education</strong>

                <p class="text-muted">
                  <span>{{profile.0.examination}}</span><br>
                  <span>{{profile.1.examination}}</span><br>
                  <span>{{profile.2.examination}}</span><br>
                  <span>{{profile.3.examination}}</span><br>
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                <p class="text-muted">{{profile.0.address}}</p>

                <hr>

                <!-- <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                <p class="text-muted">
                  <span class="tag tag-danger">UI Design</span>
                  <span class="tag tag-success">Coding</span>
                  <span class="tag tag-info">Javascript</span>
                  <span class="tag tag-warning">PHP</span>
                  <span class="tag tag-primary">Node.js</span>
                </p>

                <hr> -->

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <!-- <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Timeline</a></li> -->
                  <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">

                  <!-- /.tab-pane -->
              
                  <!-- /.tab-pane -->

                  <div class="tab-pane active" id="settings">
              <form action="{%if request.user.is_staff%}{%url 'addstudents'%}{%else%}/admin/include/studentupdate/{%endif%}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                  <div class="card-body row">
                    <div class="form-group col-md-6"></div>
                  <div class="form-group col-md-6">
                    <label for="photo" style="" onclick="(function(){$('#photo').trigger('click')})()">{%if not request.session.ab.photo%}<i class="fas fa-camera fa-2x" style="color:#f8f9fa99"></i>{%endif%}<i class="fas fa-camera hide fa-2x" id="photohover" style="color:#f8f9fa99"></i> </label>
                    <input type="file" name="photo" id="photo" style="display: none;">
                  </div>
                	<div class="form-group col-md-6">
	                  <label for="center">Center: </label>
	                  <select name="center" class="custom-select form-control-border" id="center">
	                    <option {%if profile.0.center == 'shivaji Nagar' %}selected{%endif%} {%if not request.user.is_staff%}readonly{%endif%}>Shivaji Nagar</option>
	                  </select>
	                </div>
	                <div class="form-group col-sm-6">
                  		<label>Date of Addmission: </label>
                        <input type="date" name="dateofadmission" class="form-control" value="{{profile.0.dateofadmission}}" {%if not request.user.is_staff%}readonly{%endif%}/>
	                </div>
	                <div class="col-sm-6">
                      <!-- select -->
                      <div class="form-group">
                        <label>Course: </label>
                        <select name="course" class="form-control" {%if not request.user.is_staff%}readonly{%endif%}>
                          <option {%if profile.0.course == 'Python' %}selected{%endif%}>Python</option>
                          <option {%if profile.0.course == 'PHP' %}selected{%endif%}>PHP</option>
                          <option {%if profile.0.course == 'JAVA' %}selected{%endif%}>JAVA</option>
                          <option {%if profile.0.course == 'Testing' %}selected{%endif%}>Testing</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-sm-6">
                  		<label>Batch Start Date:</label>
                        <input type="date" class="form-control" name="batchstartdate" value="{{profile.0.batchstartdate}}" {%if not request.user.is_staff%}readonly{%endif%}/>
	                </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                        <label>Course Start Module: </label>
                        <select name="startcourse" class="form-control" {%if not request.user.is_staff%}readonly{%endif%}>
                          <option {%if profile.0.startcourse == 'C' %}selected{%endif%}>C</option>
                          <option {%if profile.0.startcourse == 'Sql' %}selected{%endif%}>Sql</option>
                          <option {%if profile.0.startcourse == 'Web Designing' %}selected{%endif%}>Web Designing</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Course Start Module: </label>
                        <select name="trainingmode" class="form-control" {%if not request.user.is_staff%}readonly{%endif%}>
                          <option {%if profile.0.trainingmode == 'Offline' %}selected{%endif%}>Offline</option>
                          <option {%if profile.0.trainingmode == 'Online' %}selected{%endif%}>Online</option>
                        </select>
                      </div>
                    </div>
	               <div class="col-md-12">
                    <label><b>Personal Details: </b></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Enter Name" value="{{profile.0.name}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="address">Address</label>
                    <input name="address" type="text" class="form-control" id="address" placeholder="Enter Name" value="{{profile.0.address}}">
                  </div>
                  <div class="form-group col-sm-6">
                  		<label>Date of Birth: </label>
	                     <input type="date" name="dateofbirth" class="form-control" value="{{profile.0.dateofbirth}}"/>
	                </div>
	                <div class="form-group col-md-6">
	                    <label for="contact">Contact</label>
	                    <input name="contact" type="tel" class="form-control" id="contact" placeholder="Enter Contact" value="{{profile.0.contact}}" {%if not request.user.is_staff%}readonly{%endif%}>
	                </div>
                  <div class="form-group col-md-6">
	                    <label for="alternatecontact">Alternate Contact</label>
	                    <input name="alternatecontact" type="tel" class="form-control" id="alternatecontact" placeholder="Enter Alternate Contact" value="{{profile.0.alternatecontact}}">
  	              </div>
                  <div class="form-group col-md-6">
                      <label for="exampleInputEmail1">Email address</label>
                      <input name="emailid" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="{{profile.0.emailid}}" {%if not request.user.is_staff%}readonly{%endif%}>
                  </div>
  			        <div class="row">
  			          <div class="col-12">
  			            <div class="card">
  			              <div class="card-header">
  			                <h3 class="card-title"><b>Eduactional Qualification</b></h3>
  			              </div>
  			              <!-- /.card-header -->
  			              <div class="card-body table-responsive p-0">
  			                <table class="table table-hover text-nowrap">
  			                  <thead>
  			                    <tr>
  			                      <th>Examination</th>
  			                      <th>Stream</th>
  			                      <th>Name of School/College</th>
  			                      <th>Board/University</th>
  			                      <th>Year of passing</th>
  			                      <th>Percentage</th>
  			                    </tr>
  			                  </thead>
  			                  <tbody>
            								<tr>
            									<td>
            										<select name="secondary" class="form-control">
            										<option value="SSC" selected>SSC</option>
            										</select>
            									</td>
            									<td>
            										<select name="stream10" class="form-control">
            										<option value="Marathi" {%if profile.0.stream == 'Marathi' %}selected{%endif%}>Marathi</option>
            										<option value="Semi-English" {%if profile.0.stream == 'Semi-English' %}selected{%endif%}>Semi-English</option>
            										<option value="English" {%if profile.0.stream == 'English' %}selected{%endif%}>English</option>
            										</select>
            									</td>
            									<td>
            										<input type="text" name="collegename10" class="form-control"value="{{profile.0.collegename}}">
            									</td>
            									<td>
            										<input type="text" name="boardname10" class="form-control"value="{{profile.0.boardname}}">
            									</td>
            									<td>
            										<input type="number" name="yearofpassing10" class="form-control" value="{{profile.0.yearofpassing}}">
            									</td>
            									<td>
            										<input type="number" name="percentage10" min="0" max="100" class="form-control" value="{{profile.0.percentage}}">
            									</td>
            								</tr>
            								<tr>
          									<td>
          										<select name="hsecondary" class="form-control">
          										<option value="HSC/Diploma" {%if not profile.1.examination %}selected{%endif%} hidden="">HSC/Diploma</option>
          										<option value="HSC" {%if profile.1.examination == 'HSC' %}selected{%endif%}>HSC</option>
          										<option value="Diploma" {%if profile.1.examination == 'Diploma' %}selected{%endif%}>Diploma</option>
          										</select>
          									</td>
          									<td>
          										<select name="stream12" class="form-control">
          										<option {%if profile.1.stream == 'Arts' %}selected{%endif%}>Arts</option>
          										<option {%if profile.1.stream == 'Commerce' %}selected{%endif%}>Commerce</option>
          										<option {%if not profile.1.examination %}selected{%endif%} {%if profile.1.stream == 'Science' %}selected{%endif%}>Science</option>
          										</select>
          									</td>
          									<td>
          										<input type="text" name="collegename12" class="form-control" value="{{profile.1.collegename}}">
          									</td>
          									<td>
          										<input type="text" name="boardname12" class="form-control" value="{{profile.1.boardname}}">
          									</td>
          									<td>
          										<input type="number" name="yearofpassing12" class="form-control" value="{{profile.1.yearofpassing}}">
          									</td>
          									<td>
          										<input type="number" name="percentage12" min="0" max="100" class="form-control" value="{{profile.1.percentage}}">
          									</td>
          								</tr>
          								<tr>
          									<td><select name="graduation" class="form-control">
          										<option value="B.E/B.Tech/B.Sc/BCA" {%if not profile.2.examination %}selected{%endif%} hidden="">B.E/B.Tech/B.Sc/BCA</option>
          										<option {%if profile.2.examination == 'B.E' %}selected{%endif%} value="B.E">B.E</option>
          										<option {%if profile.2.examination == 'B.Tech' %}selected{%endif%} value="B.Tech">B.Tech</option>
          										<option {%if profile.2.examination == 'B.Sc' %}selected{%endif%} value="B.Sc">B.Sc</option>
          										<option {%if profile.2.examination == 'B.CA' %}selected{%endif%} value="B.CA">B.CA</option>
          										</select>
          									</td>
          									<td>
          										<select name="streamg" class="form-control">
          										<option {%if profile.2.stream == 'Computer Science' %}selected{%endif%} value="Computer Science">Computer Science</option>
          										<option {%if profile.2.stream == 'Mechanical' %}selected{%endif%} value="Mechanical">Mechanical</option>
          										<option {%if profile.2.stream == 'E&TC' %}selected{%endif%} value="E&TC">E&TC</option>
          										</select>
          									</td>
          									<td>
          										<input type="text" name="collegenameg" class="form-control"  value="{{profile.2.collegename}}">
          									</td>
          									<td>
          										<input type="text" name="boardnameg" class="form-control"
                               value="{{profile.2.boardname}}">
          									</td>
          									<td>
          										<input type="number" name="yearofpassing" class="form-control" value="{{profile.2.yearofpassing}}">
          									</td>
          									<td>
          										<input type="number" name="percentageg" min="0" max="100" class="form-control" value="{{profile.2.percentage}}">
          									</td>
          								</tr>
          								<tr>
          									<td><select name="pg" class="form-control">
          										<option value="M.Sc/M.CA" {%if not profile.3.examination %}selected{%endif%} hidden="">M.Sc/M.CA</option>
          										<option {%if profile.3.examination == 'M.Sc' %}selected{%endif%} value="M.Sc">M.Sc</option>
          										<option {%if profile.3.examination == 'M.Sc' %}selected{%endif%} value="M.CA">M.Sc</option>
          										</select>
          									</td>
          									<td>
          										<select name="streampg" class="form-control">
          										<option {%if profile.3.stream == 'Computer Sciennce' %}selected{%endif%} value="Computer Sciennce" selected>Computer Sciennce</option>
          										<option {%if profile.3.stream == 'Computer Application' %}selected{%endif%} value="Computer Application">Computer Application</option>
          										</select>
          									</td>
          									<td>
          										<input type="text" name="collegenamepg" class="form-control" value="{{profile.3.collegename}}">
          									</td>
          									<td>
          										<input type="text" name="boardnamepg" class="form-control" value="{{profile.3.boardname}}">
          									</td>
          									<td>
          										<input type="number" name="yearofpassinpg" class="form-control" value="{{profile.3.yearofpassing}}">
          									</td>
          									<td>
          										<input type="number" name="percentagepg" min="0" max="100" class="form-control" value="{{profile.3.percentage}}">
          									</td>
          								</tr>
			                    
			                  </tbody>
			                </table>
			              </div>
                    
			              <!-- /.card-body -->
			            </div>
			          </div>
  			        </div>
  			        <!-- <div class="row"> -->
			        	<div class="form-group col-md-4">
                    <label for="fees">Fees: </label>
                    <input type="number" class="form-control" name="fees" id="fees" placeholder="Fees" value="{{profile.0.fees}}" {%if not request.user.is_staff%}readonly{%endif%}>
              	</div>
              	<div class="form-group col-md-8">
              		<label for="fees">Mode Of Payment: </label>
	              		<div class="form-group clearfix">
	                      <div class="icheck-primary d-inline">
	                        <input type="checkbox" name="mode" id="checkboxPrimary1" value="LumpSum" checked {%if not request.user.is_staff%}onclick="return false"{%endif%}>
	                        <label for="checkboxPrimary1">Lump Sum
	                        </label>
	                      </div>
	                    </div>

                      <div class="icheck-primary d-inline">
                        <input type="checkbox" name="mode" id="checkboxPrimary1" value="1" {%if not request.user.is_staff%}onclick="return false"{%endif%}>
                        <label for="checkboxPrimary1">
                        </label>
                      </div>
                      <div class="icheck-primary d-inline">
                        <input type="checkbox" name="mode" id="checkboxPrimary2" value="2" {%if not request.user.is_staff%}onclick="return false"{%endif%}>
                        <label for="checkboxPrimary2">
                        </label>
                      </div>
                      <div class="icheck-primary d-inline">
                        <input type="checkbox" name="mode" id="checkboxPrimary3" value="3" {%if not request.user.is_staff%}onclick="return false"{%endif%}>
                        <label for="checkboxPrimary3">
                          Installment
                        </label>
                      </div>
                    </div>
    			        <div class="row">
    			          <div class="col-12">
    			            <div class="card">
    			              <div class="card-header">
    			                <h3 class="card-title"><b>Fees Schedule</b></h3>
    			              </div>
    			              <!-- /.card-header -->
    			              <div class="card-body table-responsive p-0">
    			                <table class="table table-hover text-nowrap">
    			                  <thead>
    			                    <tr>
    			                      <th> </th>
    			                      <th>Registration Ammount</th>
    			                      <th>1st installation</th>
    			                      <th>2nd Installation</th>
    			                      <th>3rd Installation</th>
    			                    </tr>
    			                  </thead>
    			                  <tbody>
              								<tr>
              									<td>Fees Payment Breakup</td>
                                <td><input type="number" name="regammount" class="form-control" value="{{profile.0.regammount}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
              									<td><input type="number" name="installment1" class="form-control" value="{{profile.0.installment1}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
              									<td><input type="number" name="installment2" class="form-control" value="{{profile.0.installment2}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
              									<td><input type="number" name="installment3" class="form-control" value="{{profile.0.installment3}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
              								</tr>
                              <tr>
                                <td>Dates of Installments</td>
                                <td><input type="date" name="regdate" class="form-control" value="{{profile.0.regdate}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
                                <td><input type="date" name="installment1date" class="form-control" value="{{profile.0.installment1date}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
                                <td><input type="date" name="installment2date" class="form-control" value="{{profile.0.installment2date}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
                                <td><input type="date" name="installment3date" class="form-control" value="{{profile.0.installment3date}}" {%if not request.user.is_staff%}readonly{%endif%} /></td>
                              </tr>
    			                  </tbody>
    			                </table>
    			              </div>
                      
    			              <!-- /.card-body -->
    			            </div>
                      <div class="form-group col-md-12">
                          <label for="remark">Remark</label>
                          <input type="text" name="remark" class="form-control" id="remark" placeholder="Enter Remark" value="{{profile.0.remark}}" {%if not request.user.is_staff%}readonly{%endif%} />
                        </div>
    			            <!-- /.card -->
    			          </div>
			           </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    {%endblock%}
    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{%block script%}
<script type="text/javascript">
  $("label[for='photo']").hover(function(){
    $('#photohover').toggleClass('hide');
  });
</script>
<script>
  $(function () {
    /* jQueryKnob */

    $('.knob').knob({
      /*change : function (value) {
       //console.log("change : " + value);
       },
       release : function (value) {
       console.log("release : " + value);
       },
       cancel : function () {
       console.log("cancel : " + this.value);
       },*/
      draw: function () {

        // "tron" case
        console.log(this);
        if (this.$.data('skin') == 'tron') {

          var a   = this.angle(this.cv)  // Angle
            ,
              sa  = this.startAngle          // Previous start angle
            ,
              sat = this.startAngle         // Start angle
            ,
              ea                            // Previous end angle
            ,
              eat = sat + a                 // End angle
            ,
              r   = true

          this.g.lineWidth = this.lineWidth

          this.o.cursor
          && (sat = eat - 0.3)
          && (eat = eat + 0.3)

          if (this.o.displayPrevious) {
            ea = this.startAngle + this.angle(this.value)
            this.o.cursor
            && (sa = ea - 0.3)
            && (ea = ea + 0.3)
            this.g.beginPath()
            this.g.strokeStyle = this.previousColor
            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false)
            this.g.stroke()
          }

          this.g.beginPath()
          this.g.strokeStyle = r ? this.o.fgColor : this.fgColor
          this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false)
          this.g.stroke()

          this.g.lineWidth = 2
          this.g.beginPath()
          this.g.strokeStyle = this.o.fgColor
          this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false)
          this.g.stroke()

          return false
        }
      }
    });
    $({
        value: 0
    }).animate({
        value: 80
    }, {
        duration: 950,
        easing: 'swing',
        progress: function () {
            $('.knob').val(Math.round(this.value)).trigger('change');
            if (this.value<40){
              $('.knob').attr('data-fgColor','#ff0b0b');
            }
        }
    });

    /* END JQUERY KNOB */

    //INITIALIZE SPARKLINE CHARTS
    // var sparkline1 = new Sparkline($('#sparkline-1')[0], { width: 240, height: 70, lineColor: '#92c1dc', endColor: '#92c1dc' })
    // var sparkline2 = new Sparkline($('#sparkline-2')[0], { width: 240, height: 70, lineColor: '#f56954', endColor: '#f56954' })
    // var sparkline3 = new Sparkline($('#sparkline-3')[0], { width: 240, height: 70, lineColor: '#3af221', endColor: '#3af221' })

    // sparkline1.draw([1000, 1200, 920, 927, 931, 1027, 819, 930, 1021])
    // sparkline2.draw([515, 519, 520, 522, 652, 810, 370, 627, 319, 630, 921])
    // sparkline3.draw([15, 19, 20, 22, 33, 27, 31, 27, 19, 30, 21])

  })
</script>
{%endblock%}