{%extends 'student/base.html'%}
{%load static%}
{%block style%}
<style type="text/css">
  .hide{
    display: none;
  }
  label[for='photo']{
    height: 100px;
    /*width: 100px; */
    border: 1px solid #a54545cc;
    float: right;
    border-radius: 25%;
    background-image: url('/media/{{request.session.ab.photo}}');
    background-size: cover;
    padding: 30px;
  }
  .fa-camera:hover{
    color: #536273;
  }
  .knob{
    font-size: 35px!important;
  }
</style>
{%endblock%}
{%load admin_menu%}

{%block page_link%}
{%block page_title%}
Profile
{%endblock%}
{%endblock%}

{%block content%}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" src="/media/{{request.session.profile_photo}}" alt="User profile picture">
            </div>
            <br>
            <div class="text-center" id="popupReturn" on hover=>
                <input type="text" class="knob knob1"  data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#00a65a" readonly="true" value="{{performance|key_with_space:'Total Marks (Out of 700)'|int|div:7}}"  data-toggle="tooltip" data-placement="top" title="Click to see your score card">

                <div class="knob-label">Average Performance</div>
                <div id="tableContent" style="display:none">
                    <div>
                      <div class="panel panel-default">
                        <div class="panel-heading">Performance</div>
                        <div class="panel-body form-inline dept1">
                        <div style="padding: 5px;margin:20px;text-align-last: center;"><input type="text" class="knob"  data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#00a65a" readonly="true"  value="{{performance|key_with_space:'C Total Marks (Out of 100)'}}"><br>C</div>
                        <div style="padding: 5px;margin:20px;text-align-last: center;"><input type="text" class="knob"  data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#00a65a" readonly="true"  value="{{performance|key_with_space:'Sql Total Marks (Out of 100)'}}"><br>Sql</div>
                        <div style="padding: 5px;margin:20px;text-align-last: center;"><input type="text" class="knob"  data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#00a65a" readonly="true"  value="{{performance|key_with_space:'WD Total Marks (Out of 200)'}}"><br>WD</div>
                        <div style="padding: 5px;margin:20px;text-align-last: center;"><input type="text" class="knob"  data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#00a65a" readonly="true"  value="{{performance|key_with_space:'Core Total Marks (Out of 100)'}}"><br>Core</div>
                        <div style="padding: 5px;margin:20px;text-align-last: center;"><input type="text" class="knob"  data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#00a65a" readonly="true"  value="{{performance|key_with_space:'Adv Total Marks (Out of 100)'}}"><br>Adv</div>
                        <div style="padding: 5px;margin:20px;text-align-last: center;"><input type="text" class="knob"  data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#00a65a" readonly="true"  value="{{performance|key_with_space:'Soft Skills Marks (Out of 100)'}}"><br>Soft Skills</div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            <h3 class="profile-username text-center">{{performance|key_with_space:'Name'}}</h3>

            <p class="text-muted text-center">{{performance|key_with_space:'Course'}}</p>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Date of Admission</b> <a class="float-right">{{performance|key_with_space:'Admission Date'}}</a>
              </li>
              <li class="list-group-item">
                <b>Training Mode</b> <a class="float-right">{{performance|key_with_space:'Training Mode'}}</a>
              </li>
              <li class="list-group-item">
                <b>Current Module</b> <a class="float-right">{{performance|key_with_space:'Current Module'}}</a>
              </li>
            </ul>
            {%if certificate%}
              <a {%if certificate.certificate%}href="/media/{{certificate.certificate}}" class='btn btn-success btn-block' target='new' title="Download certificate" {%else%}title="Certificate Not issued yet" class='btn btn-warning btn-block' style='cursor:not-allowed'{%endif%}  data-toggle="tooltip" data-placement="top"  ><b><i class="fa fa-download"></i>Download Certificate</b> </a>

            {%else%}
            <a {%if performance|key_with_space:'Eligible For Certificate(Y/N)' == 'Y'%}href="{%url 'request_certificate'%}" class='btn btn-success btn-block' data-toggle="tooltip" data-placement="top" title="Click to Apply for certificate"{%else%}class='btn btn-primary btn-block' data-toggle="tooltip" data-placement="top" title="You can apply for certificate after all test and mocks completed" style='cursor:not-allowed'{%endif%}><b>Request for Certificate</b></a>
            {%endif%}
            <a class="btn btn-info btn-block" href="{%url 'offer_letter'%}" style="margin-top:5px;" target="new"><b>Offer Letter</b></a>

            {%if performance|key_with_space:'Portfolio URL'%}
            <a class="btn form-control" href="{{performance|key_with_space:'Portfolio URL'}}" data-toggle="tooltip" data-placement="top" title="Portfolio Link">{{performance|key_with_space:'Portfolio URL'}}</a>
            {%endif%}
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">About Me</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Education</strong>

            <p class="text-muted">
              <span>{{profile.0.examination}}</span><br>
              <span>{{profile.1.examination}}</span><br>
              <span>{{profile.2.examination}}</span><br>
              <span>{{profile.3.examination}}</span><br>
            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

            <p class="text-muted">{{profile.0.address}}</p>

            <hr>

            <!-- <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

            <p class="text-muted">
              <span class="tag tag-danger">UI Design</span>
              <span class="tag tag-success">Coding</span>
              <span class="tag tag-info">Javascript</span>
              <span class="tag tag-warning">PHP</span>
              <span class="tag tag-primary">Node.js</span>
            </p>

            <hr> -->

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <!-- <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Timeline</a></li> -->
              <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">

              <!-- /.tab-pane -->
          
              <!-- /.tab-pane -->

          <div class="tab-pane active" id="settings">

            {%include 'student/includes/add_student_form.html'%}

              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
{%endblock%}

{%block script%}
<script type="text/javascript">
  
</script>
<script>
  $(function () {
    /* jQueryKnob */

    $('.knob').knob({
      /*change : function (value) {
       //console.log("change : " + value);
       },
       release : function (value) {
       console.log("release : " + value);
       },
       cancel : function () {
       console.log("cancel : " + this.value);
       },*/
      draw: function () {

        // "tron" case

        if (this.$.data('skin') == 'tron') {

          var a   = this.angle(this.cv)  // Angle
            ,
              sa  = this.startAngle          // Previous start angle
            ,
              sat = this.startAngle         // Start angle
            ,
              ea                            // Previous end angle
            ,
              eat = sat + a                 // End angle
            ,
              r   = true

          this.g.lineWidth = this.lineWidth

          this.o.cursor
          && (sat = eat - 0.3)
          && (eat = eat + 0.3)

          if (this.o.displayPrevious) {
            ea = this.startAngle + this.angle(this.value)
            this.o.cursor
            && (sa = ea - 0.3)
            && (ea = ea + 0.3)
            this.g.beginPath()
            this.g.strokeStyle = this.previousColor
            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false)
            this.g.stroke()
          }

          this.g.beginPath()
          this.g.strokeStyle = r ? this.o.fgColor : this.fgColor
          this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false)
          this.g.stroke()

          this.g.lineWidth = 2
          this.g.beginPath()
          this.g.strokeStyle = this.o.fgColor
          this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false)
          this.g.stroke()

          return false
        }
      }
    });
    $.each('.knob',function () {
      b = this;
      $({
          value: 0
      }).animate({
          value: $(this).val()
      }, {
          duration: 950,
          easing: 'swing',
          progress: function () {
              $(b).val(Math.round(this.value)).trigger('change');
              if (this.value<40){
                $(b).attr('data-fgColor','#ff0b0b');
              }
          }
      });
    })

  })
</script>
<script>
    $().ready(function(e) {

        var popupEvent = function() {
          
        }

        $('#popupReturn').hunterPopup({
            width: '500px',
            height: 'auto',
            title: "Performance",
            content: $('#tableContent'),
            event: popupEvent
        });

    });
    $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
  });
</script>

{%endblock%}