
  {%load static%}
  {%load admin_menu%}
  <aside id="sidebar" class="main-sidebar sidebar-dark-primary">
    <!-- Brand Logo -->
    <a href="{%if request.user.is_superuser%}{%url 'index'%}{%else%}{%url 'index'%}{%endif%}" class="brand-link" class="" style="background-color: white">
      <img src="{%static 'logon.png'%}" alt="Cravita Logo" class="brand-image " style="">
      <!-- <span class="brand-text font-weight-light">LMS</span> -->
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {%if not request.user.is_staff%}<img src="/media/{{request.session.ab.photo}}" class="img-circle elevation-2" alt="User Image">{%endif%}
        </div>
        <div class="info">
          <a href="{%url 'viewprofile'%}" class="d-block">{{request.user.username}}</a>
        </div>
         </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item ">
            <a href="{%url 'index'%}" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <!-- <i class="right fas fa-angle-left"></i> -->
              </p>
            </a>
          </li>
          {%if request.user.is_staff%}
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-plus-square"></i>
              <p>
                Add Users
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'addstudents' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Students</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'addgroups' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Groups</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'addusers' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Members</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-eye"></i>
              <p>
                View Users
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'viewstudents' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Students</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'viewperformance' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Students Performance</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'viewgroups' view='true' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Groups</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'viewmembers' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Members</p>
                </a>
              </li>
            </ul>
          </li>
          {%endif%}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                Notice
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              {%if request.user.is_staff%}
              <li class="nav-item">
                <a href="{%url 'addnotice'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add notice</p>
                </a>
              </li>
              {%endif%}
              <li class="nav-item">
                <a href="{%url 'viewnotice'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View notice</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="fas fa-video"></i>
              <p>
                Videos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'video' course='C'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>C Programing</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'video' course='SQL'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>SQL</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'video' course='WD'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Web Designing</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'video' course='Core'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Core Domain</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'video' course='Adv'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Adv Domain</p>
                </a>
              </li>v
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa fa-question"></i>
              <p>
                Exam
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'mcq_exam'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Exam</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-check-square"></i>
              <p>
                Attendance
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%if request.user.is_staff%}{%url 'attendance'%}{%else%}{%url 'studentsattendance'%}{%endif%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add / view Attendance</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-lock"></i>
              <p>
                Logout
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{%url 'resspass'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reset Password</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{%url 'logout'%}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Log out</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" data-target="#followus" data-toggle='modal'>
              <i class="nav-icon fas fa-user-plus"></i>
              <p>
                Follow Us
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" data-target="#feedback" data-toggle='modal' id="feedbacklink">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Feedback 
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>