{%extends 'student/base.html'%}
{%load static%}
{%block style%}
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid.min.css'%}">
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid-theme.min.css'%}">
  <style type="text/css">
  .fix-id{
     position: sticky;
  left: 0;
  z-index: 2;
  }
  .fix-name{
    position: sticky;
    left: 0px;
    z-index: 2;
  }
  .fix-contact{
    position: sticky;
    left: 150px;
    z-index: 2;
  }
    .knob{
    font-size: 19px!important;
  }
</style>
{%endblock%}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {%block content_header%}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Attendance</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Attendance</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
    {%endblock%}

    <!-- Main content -->
    {%block content%}
    <section class="content">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Student Attendance</h3>          
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          {%for d in data%}
          <div class="col-sm-4">
            <div class="text-center">
              <input type="text" class="knob" id="{{d.course}}"  data-thickness="0.1" data-width="90" data-height="90" readonly="true" value="0" rel="{{d.per}}">

              <div class="knob-label">{{d.course}} Attendance</div>
            </div>
          </div>
          {%endfor%}
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Student Attendance</h3>
          <div class="" style="width: max-content;float: right;margin-right: 10px;">
            <!-- <label>Custom Select</label> -->
            <select name="sheetname" class="custom-select" onchange="load()">
              {%for g in gps%}
              <option value="{{g.name}}">{{g.name}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div id="grid"></div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    {%endblock%}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!-- jQuery -->
{%block script%}
<script>
  $(function () {
    /* jQueryKnob */

    // $('.knob').knob({
    //   /*change : function (value) {
    //    //console.log("change : " + value);
    //    },
    //    release : function (value) {
    //    console.log("release : " + value);
    //    },
    //    cancel : function () {
    //    console.log("cancel : " + this.value);
    //    },*/
    //   draw: function () {

    //     // "tron" case
    //     // console.log(this);
    //     if (this.$.data('skin') == 'tron') {

    //       var a   = this.angle(this.cv)  // Angle
    //         ,
    //           sa  = this.startAngle          // Previous start angle
    //         ,
    //           sat = this.startAngle         // Start angle
    //         ,
    //           ea                            // Previous end angle
    //         ,
    //           eat = sat + a                 // End angle
    //         ,
    //           r   = true

    //       this.g.lineWidth = this.lineWidth

    //       this.o.cursor
    //       && (sat = eat - 0.3)
    //       && (eat = eat + 0.3)

    //       if (this.o.displayPrevious) {
    //         ea = this.startAngle + this.angle(this.value)
    //         this.o.cursor
    //         && (sa = ea - 0.3)
    //         && (ea = ea + 0.3)
    //         this.g.beginPath()
    //         this.g.strokeStyle = this.previousColor
    //         this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false)
    //         this.g.stroke()
    //       }

    //       this.g.beginPath()
    //       this.g.strokeStyle = r ? this.o.fgColor : this.fgColor
    //       this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false)
    //       this.g.stroke()

    //       this.g.lineWidth = 2
    //       this.g.beginPath()
    //       this.g.strokeStyle = this.o.fgColor
    //       this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false)
    //       this.g.stroke()

    //       return false
    //     }
    //   }
    // });
    // console.log(this);
     $('.knob').each(function () {

           var $this = $(this);
           var id = $(this).attr('id');
           var myVal = $this.attr("rel");
           $this.knob();

           $({
               value: 0
           }).animate({
               value: myVal
           }, {
               duration: 2000,
               easing: 'swing',
               step: function () {
                   $this.val(this.value).trigger('change');
                   // console.log(this.value<40);
                   if (this.value<40){
                    console.log('#'+id);
                      $($this).css('color','rgb(255, 0, 0)');
                    }
                    else{
                      $($this).css('color','#00a65a');

                    }

               }
           })

       });

    /* END JQUERY KNOB */

    //INITIALIZE SPARKLINE CHARTS
    // var sparkline1 = new Sparkline($('#sparkline-1')[0], { width: 240, height: 70, lineColor: '#92c1dc', endColor: '#92c1dc' })
    // var sparkline2 = new Sparkline($('#sparkline-2')[0], { width: 240, height: 70, lineColor: '#f56954', endColor: '#f56954' })
    // var sparkline3 = new Sparkline($('#sparkline-3')[0], { width: 240, height: 70, lineColor: '#3af221', endColor: '#3af221' })

    // sparkline1.draw([1000, 1200, 920, 927, 931, 1027, 819, 930, 1021])
    // sparkline2.draw([515, 519, 520, 522, 652, 810, 370, 627, 319, 630, 921])
    // sparkline3.draw([15, 19, 20, 22, 33, 27, 31, 27, 19, 30, 21])

  })
</script>
<script src="{%static 'student/plugins/jsgrid/jsgrid.min.js'%}"></script>

  <script type="text/javascript">

window.db ={};
load();
function load(){
    var sheetname=$("select[name='sheetname']").val();
console.log(sheetname);
var url = "http://127.0.0.1:8000/getdata/attendance/?sheetname="+sheetname;
$.get(url,function(data,status){
    // console.log(data);
    // console.log(JSON.parse(data.replaceAll("'",'"')));
    data = data.replaceAll("'",'"');
    db.data=JSON.parse(data);

    fields= [
        { name: "ID", type: "number", width: 70, css:"",editing:false},
        { name: "NAME", type: "text", width: 150,css:"fix-name",editing:false},
        { name: "CONTACT", type: "text", width: 100,css:'fix-contact',editing:false},
        { name: "EMAIL ID", type: "text",width: 100,editing:false},
        { name: "Today", type:"checkbox", width:50,editing: false}
    ];


    window.col = Object.keys(db.data[0]);
    // console.log(col);
    // fields.push({name:col[i],type:'checkbox',editing:true});
    for(i=col.length-1;i>5;i--){
        // console.log(col[i]);

        if (col[i]===currentdate) {
        fields.push({name:col[i],type:'checkbox',editing:false});

        }
        else{
        fields.push({name:col[i],type:'checkbox',editing:false});

        }
        // console.log(fields);
    };
    $('#grid').jsGrid({fields:fields});
 
    $('#grid').jsGrid({data:db.data});

    add();

    // $('#grid tr td:nth-child(5)').html("<input name='present' type='checkbox'></html>");
});
}



$(function () {
   d = new Date();
  date = d.getDate();
  // console.log(date.toString().length==1);
  if(date.toString().length==1){
   date="0"+date;
  }
  month = d.getMonth()+1;
  // console.log(month.toString().length);
  if(month.toString().length==1){
   month="0"+month;
   // month=parseInt(month, 10)
  }
  year = d.getFullYear();
  console.log(date,month,year);
  const currentdate = date+'/'+month+'/'+year;
  currentdate.replaceAll('"','')
    $("#grid").jsGrid({
        height: "auto",
        width: "100%",

        filtering: true,
        editing: false,
        sorting: true,
        paging: true,

        data: db.data,

        controller: {
          loadData: function(filter) {
           return $.grep(db.data, function(client) {
                var flag=false;
                $.each(Object.keys(client),function(key,val){
                    val=val.toString();
                    val1=client[val].toString();
                    val2=filter[val];
                    if (!val2 || val2==undefined || val1.indexOf(val2) > -1){

                    flag=true;
                    }else{
                        flag=false;
                        return false;
                    };
                })
                 if (flag) {
                    return client;
                }
            });
        },

        },
        fields: [
            { name: "ID", type: "number", width: 70, css:"",editing:false},
            { name: "NAME", type: "text", width: 150,css:"fix-name",editing:false},
            { name: "CONTACT", type: "text", width: 100,css:'fix-contact',editing:false},
            { name: "EMAIL ID", type: "text",width: 100,editing:false},
            { name: "Today", type:"checkbox", width:50,editing: true}
        ]
    });
  });

</script>
{%endblock%}