{%extends 'student/base.html'%}
{%load static%}
{%block style%}
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid.min.css'%}">
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid-theme.min.css'%}">
  <style type="text/css">
  .fix-id{
     position: sticky;
  left: 0;
  z-index: 2;
  }
  .fix-name{
    position: sticky;
    left: 0px;
    z-index: 2;
  }
  .fix-contact{
    position: sticky;
    left: 150px;
    z-index: 2;
  }
    .knob{
    font-size: 19px!important;
  }
</style>
{%endblock%}

{%block page_link%}
{%block page_title%}
Attendance
{%endblock%}
{%endblock%}

{%block content%}
<section class="content">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Student Attendance</h3>          
    </div>
    <!-- /.card-header -->
    <div class="card-body row">
      {%for d in data%}
      <div class="col-sm-3">
        <div class="text-center">
          <input type="text" class="knob" id="{{d.course}}"  data-thickness="0.1" data-width="90" data-height="90" readonly="true" value="0" rel="{{d.per}}">

          <div class="knob-label">{{d.course}} Attendance</div>
        </div>
      </div>
      {%endfor%}
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Student Attendance</h3>
      <div class="" style="width: max-content;float: right;margin-right: 10px;">
        <!-- <label>Custom Select</label> -->
        <select name="sheetname" class="custom-select" onchange="load()">
          {%for g in gps%}
          <option value="{{g.name}}">{{g.name}}</option>
          {%endfor%}
        </select>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div id="grid"></div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>
{%endblock%}


{%block script%}
<script>
  $(function () {

     $('.knob').each(function () {

         var $this = $(this);
         var id = $(this).attr('id');
         var myVal = $this.attr("rel");
         $this.knob();

         $({
             value: 0
         }).animate({
             value: myVal
         }, {
             duration: 2000,
             easing: 'swing',
             step: function () {
                 $this.val(this.value).trigger('change');
                 // console.log(this.value<40);
                 if (this.value<40){
                  // console.log('#'+id);
                    $($this).css('color','rgb(255, 0, 0)');
                  }
                  else{
                    $($this).css('color','#00a65a');

                  }
             }
          })
      });
  })
</script>
<script src="{%static 'student/plugins/jsgrid/jsgrid.min.js'%}"></script>

<script type="text/javascript">

  window.db ={};
  load();
  function load(){
    var sheetname=$("select[name='sheetname']").val();

    var url = "{%url 'getdata' table='attendance'%}";
  $.get(url,{sheetname:sheetname},function(data,status){
      data = data.replaceAll("'",'"');
      db.data=JSON.parse(data);

      db.data = jQuery.grep(db.data, function( a ) {
        if (a.USER_ID == {{request.user.id}}) {
          return a}
      });

      fields= [
          { name: "ID", type: "number", width: 70, css:"",editing:false},
          { name: "NAME", type: "text", width: 150,css:"fix-name",editing:false},
          { name: "CONTACT", type: "text", width: 100,css:'fix-contact',editing:false},
          { name: "EMAIL ID", type: "text",width: 100,editing:false},
          { name: "Today", type:"checkbox", width:50,editing: false}
      ];

      window.col = Object.keys(db.data[0]);
      for(i=col.length-1;i>5;i--){
          if (col[i]===currentdate) {
          fields.push({name:col[i],type:'checkbox',editing:false});
          }
          else{
          fields.push({name:col[i],type:'checkbox',editing:false});
          }
      };
      $('#grid').jsGrid({fields:fields});
   
      $('#grid').jsGrid({data:db.data});
      add();
    }).done(function(){toastr.success('Data loaded Successfully').fail(function(){
      toastr.error('Failed to load data');
    });});
  }



  $(function () {
    d = new Date();
    date = d.getDate();
    if(date.toString().length==1){
     date="0"+date;
    }
    month = d.getMonth()+1;
    if(month.toString().length==1){
     month="0"+month;
    }
    year = d.getFullYear();

    const currentdate = date+'/'+month+'/'+year;
    currentdate.replaceAll('"','')
    $("#grid").jsGrid({
        height: "auto",
        width: "100%",

        filtering: true,
        editing: false,
        sorting: true,
        paging: true,

        data: db.data,

        controller: {
          loadData: function(filter) {
           return $.grep(db.data, function(client) {
                var flag=false;
                $.each(Object.keys(client),function(key,val){
                    val=val.toString();
                    val1=client[val].toString();
                    val2=filter[val];
                    if (!val2 || val2==undefined || val1.indexOf(val2) > -1){

                    flag=true;
                    }else{
                        flag=false;
                        return false;
                    };
                })
                 if (flag) {
                    return client;
                }
            });
        },

        },
        fields: [
            { name: "ID", type: "number", width: 70, css:"",editing:false},
            { name: "NAME", type: "text", width: 150,css:"fix-name",editing:false},
            { name: "CONTACT", type: "text", width: 100,css:'fix-contact',editing:false},
            { name: "EMAIL ID", type: "text",width: 100,editing:false},
            { name: "Today", type:"checkbox", width:50,editing: true}
        ]
    });
  });
  function add(){
    {%if request.user.is_staff%}
    addaction();
    {%endif%}
  }
  d = new Date();
  date = d.getDate();
  if(date.toString().length==1){
   date="0"+date;
  }
  month = d.getMonth()+1;
  if(month.toString().length==1){
   month="0"+month;
  }
  year = d.getFullYear();

  const currentdate = date+'/'+month+'/'+year;
  currentdate.replaceAll('"',"");
  function addaction(){
    $('.jsgrid-table tbody tr').each(function(){
      a=$(this)[0];
      b=a.children[4];
      if (db.data[0][currentdate]=="" ||db.data[0][currentdate]=="p") {
        e=$('.jsgrid-grid-header .jsgrid-table tr')[0].children[4];
        f=$('.jsgrid-grid-header .jsgrid-table tr')[1].children[4];
        b.setAttribute("class","hide");
        e.setAttribute("class","hide");
        f.setAttribute("class","hide");
        f=$('.jsgrid-grid-header .jsgrid-table tr')[0].children[5];
        g=a.children[5];
        f.innerText='Today';
      if(db.data[this.rowIndex][currentdate]==='p'){
          g.innerHTML='<input type=checkbox name=attendance checked onchange=addattendance('+this.rowIndex+')></input>';
          present.push(this.rowIndex);
        }
        else{
          g.innerHTML='<input type=checkbox name=attendance onchange=addattendance('+this.rowIndex+')></input>';
        }
      }
      else{
        b.innerHTML='<input type=checkbox name=attendance onchange=addattendance('+this.rowIndex+')></input>';
      }
      
    });
  }

</script>
{%endblock%}