{%extends 'student/base.html'%}
{%load admin_menu%}
{%load static%}
{%block style%}
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid.min.css'%}">
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid-theme.min.css'%}">
  <style type="text/css">
  .fix-id{
     position: sticky;
  left: 0;
  z-index: 2;
  }
  .fix-name{
    position: sticky;
    left: 0px;
    z-index: 2;
  }
  .fix-contact{
    position: sticky;
    left: 150px;
    z-index: 2;
  }
</style>
{%endblock%}

{%block page_link%}
{%block page_title%}
View Members
{%endblock%}
{%endblock%}

{%block content%}
<section class="content">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Student Profile</h3>
      <div class="" style="width: max-content;float: right;">
        <!-- <label>Custom Select</label> -->
        <select name="sheetname" class="custom-select" onchange="load()">
          {%for sheetname in sheetnames%}
          <option value="{{sheetname}}">{{sheetname}}</option>
          {%endfor%}
        </select>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div id="grid"></div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>
{%endblock%}

{%block script%}
<style type="text/css">
  .hide{
    display: none;
  }
</style>
<!-- <script type="text/javascript" src="{%static 'student/dist/js/student_profile.js'%}"></script> -->
<script src="{%static 'student/plugins/jsgrid/jsgrid.min.js'%}"></script>

<script type="text/javascript">
  // window.db = db;
  var db = {};
  load();
 function load(){
    var sheetname=$("select[name='sheetname']").val();
console.log(sheetname);
  var url = "{%url 'getuser'%}";
$.get(url,{gname:sheetname},function(data,status){
    // console.log(data);
    console.log(JSON.parse(data.replaceAll("'",'"')));
    db = {};
    data = data.replaceAll("'",'"');
    db.data=JSON.parse(data);
    // console.log(db.data);
    $('#grid').jsGrid({data:db.data});
// wndow.db=db;
    // db.loadData;
    // addaction();
    $(".jsgrid-grid-body").keypress(function(){var keycode = (event.keyCode ? event.keyCode : event.which);
          if(keycode == '13'){window.edit_row=this;$('#grid').jsGrid('updateItem')}});
});
 }

</script>
<script type="text/javascript">
$(function () {

    $("#grid").jsGrid({
        height: "auto",
        width: "100%",

        filtering: true,
        editing: true,
        sorting: true,
        paging: true,

        data: db.data,

        controller: {
          loadData: function(filter) {
           return $.grep(db.data, function(client) {
                var flag=false;
                $.each(Object.keys(client),function(key,val){
                    val=val.toString();
                    val1=client[val].toString().toLowerCase();
                    val2=filter[val];
                    if (val2){
                      val2=filter[val].toString().toLowerCase();
                    }

                    if (!val2 || val2==undefined || val1.indexOf(val2) > -1){

                    flag=true;
                    }else{
                        flag=false;
                        return false;
                    };
                })
                 if (flag) {
                    return client;
                }
            });
        },
          insertItem: $.noop,
          updateItem: function(item) {
            // console.log(Object.values(item));
            // console.log(item);
            sheetname = $("select[name='sheetname']").val();
            console.log(sheetname);
            console.log(JSON.stringify(item));
            // console.log(Object.values(item).toString());
            Url = "{%url 'setuser'%}";
            data={
                row:item,
            }
                $.get(Url,{values:JSON.stringify(item)},function(data,status){
                    console.log(data);
                });
            },
          deleteItem: $.noop
        },

        fields: [
            { name: "ID", type: "number", width: 70,editing:false},
            { name: "USERNAME", type: "text", width: 70,editing:false},
            { name: "NAME", type: "text", width: 70,editing:false},
            { name: "IS_ACTIVE", type: "checkbox", width: 70},
            { name: "IS_STAFF", type: "checkbox", width: 70},
            { name: "CONTROL",type:"control",deleteButton:false},
        ]
    });
  });
</script>
{%endblock%}



