{%extends 'student/base.html'%}
{%load static%}
{%block style%}
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid.min.css'%}">
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid-theme.min.css'%}">
  <style type="text/css">
  .fix-id{
     position: sticky;
  left: 0;
  z-index: 2;
  }
  .fix-name{
    position: sticky;
    left: 0px;
    z-index: 2;
  }
  .fix-contact{
    position: sticky;
    left: 150px;
    z-index: 2;
  }
  .hide{
    display: none;
  }
</style>
{%endblock%}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {%block content_header%}

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Student Performance</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Student Performance</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
    {%endblock%}
    <!-- Main content -->
    {%block content%}

    <section class="content">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Student Performance</h3>
          <div class="" style="width: max-content;float: right;">
            <!-- <label>Custom Select</label> -->
            <select name="sheetname" class="custom-select" onchange="load()">
              {%for sheetname in sheetnames%}
              <option value="{{sheetname}}">{{sheetname}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div id="grid"></div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    <div id="data" style="display: none;">{{data}}</div>
    {%endblock%}

    <!-- /.content -->
  </div>

{%block script%}
<!-- <script src="{%static 'student/dist/js/student_performance.js'%}"></script> -->
<script src="{%static 'student/plugins/jsgrid/jsgrid.min.js'%}"></script>
<script type="text/javascript">
  // window.db = db;
  var db = {};

  load();
  function load(){
      var sheetname=$("select[name='sheetname']").val();
console.log(sheetname);
var url = "http://127.0.0.1:8000/getdata/performance/?sheetname="+sheetname;
$.get(url,function(data,status){
    // console.log(data);
    // console.log(JSON.parse(data.replaceAll("'",'"')));
    db = {};
    data = data.replaceAll("'",'"');
    db.data=JSON.parse(data);
    // console.log(db.data);
    $('#grid').jsGrid({data:db.data});
// wndow.db=db;
    // db.loadData;
    // addaction();
    $(".jsgrid-grid-body").keypress(function(){var keycode = (event.keyCode ? event.keyCode : event.which);
          if(keycode == '13'){window.edit_row=this;$('#grid').jsGrid('updateItem')}});
});
  }

</script>
<!-- Page specific script -->
<script>
        // var editing_row_field2;
  
  $(function () {

    $("#grid").jsGrid({
        height: "auto",
        width: "100%",

        filtering: true,
        editing: true,
        sorting: true,
        paging: true,

        data: db.data,
        controller: {
          loadData: function(filter) {
           return $.grep(db.data, function(client) {
                var flag=false;
                $.each(Object.keys(client),function(key,val){
                    val=val.toString();
                    val1=client[val].toString();
                    val2=filter[val];
                    if (!val2 || val2==undefined || val1.indexOf(val2) > -1){

                    flag=true;
                    }else{
                        flag=false;
                        return false;
                    };
                })
                 if (flag) {
                    return client;
                }
            });
        },
          insertItem: $.noop,
          updateItem: function(item) {
            // console.log(Object.values(item));
            // console.log(item);
            sheetname = $("select[name='sheetname']").val();
            console.log(sheetname);
            Url = 'http://127.0.0.1:8000/setdata/performance/?rowv='+Object.values(item)+'&sheetname='+sheetname
            ;
            data={
                row:item,
            }
                $.get(Url,function(data,status){
                    console.log(data);
                });
            },
          deleteItem: $.noop
        },

        fields: [
            { name:"rowIndex",type:"number",css:"hide"},
            { name: "ID", type: "number", width: 70, css:"",editing:false},
            { name: "NAME", type: "text", width: 150,css:"fix-name"},
            { name: "CONTACT", type: "text", width: 100,css:'fix-contact'},
            { name: "EMAIL ID", type: "text",width:100,css:'rol'},
            { name: "DATE OF ADMISSION", type: "text",width:100,css:'rol'},
            { name: "TRAINING MODE", type: "text",width:100,},
            { name: "COURSE", type: "text",width:100,css:'rol'},
            { name: "COURSE START DATE", type: "text",width:100,css:'rol'},
            { name: "COURSE START FROM", type: "text",width:100,css:'rol'},
            { name: "CURRENT MODULE", type: "text",width:100,css:'rol'},
            { name: "C TRAINER NAME", type: "text",width:100,css:'rol'},
            { name: "C MODULE START DATE", type: "text",width:100,css:'rol'},
            { name: "C MODULE END DATE", type: "text",width:100,css:'rol'},
            { name: "C THEORY ( OUT OF 40 )", type: "number",width:100,css:'rol'},
            { name: "C PRACTICAL ( OUT OF 40 )", type: "number",width:100,css:'rol'},
            { name: "C ORAL ( OUT OF 20 )", type: "number",width:100,css:'rol'},
            { name: "C TOTAL ( OUT OF 100 )", type: "number",width:100,editing:false},
            { name: "SQL TRAINER NAME", type: "text",width:100,css:'rol'},
            { name: "SQL MODULE START DATE", type: "text",width:100,css:'rol'},
            { name: "SQL MODULE END DATE", type: "text",width:100,css:'rol'},
            { name: "SQL THEORY ( OUT OF 40 )", type: "number",width:100,css:'rol'},
            { name: "SQL PRACTICAL ( OUT OF 40 )", type: "number",width:100,css:'rol'},
            { name: "SQL ORAL ( OUT OF 20 )", type: "number",width:100,css:'rol'},
            { name: "SQL TOTAL ( OUT OF 100 )", type: "number",width:100,editing:false},
            { name: "WD TRAINER NAME", type: "text",width:100,css:'rol'},
            { name: "WD MODULE START DATE", type: "text",width:100,css:'rol'},
            { name: "WD MODULE END DATE", type: "text",width:100,css:'rol'},
            // { name: "wdtheory", type: "number",width:50},
            { name: "WD PRACTICAL ( OUT OF 150 )", type: "number",width:100,css:'rol'},
            { name: "WD ORAL ( OUT OF 50 )", type: "number",width:100,css:'rol'},
            { name: "WD TOTAL ( OUT OF 200 )", type: "number",width:100,editing:false},
            { name: "PORTFOLIO URL", type: "text",width:100,css:'rol'},
            { name: "MOCK INTERVIEW REMARK - 1( EXCELLENT/GOOD/POOR)", type: "number",width:100,css:'rol'},
            { name: "CORE TRAINER NAME", type: "text",width:100,css:'rol'},
            { name: "CORE MODULE START DATE", type: "text",width:100,css:'rol'},
            { name: "CORE MODULE END DATE", type: "text",width:100,css:'rol'},
            { name: "CORE THEORY ( OUT OF 40 )", type: "number",width:100,css:'rol'},
            { name: "CORE PRACTICAL ( OUT OF 40 )", type: "number",width:100,css:'rol'},
            { name: "CORE ORAL ( OUT OF 20 )", type: "number",width:100,css:'rol'},
            { name: "CORE TOTAL ( OUT OF 100 )", type: "number",width:100,editing:false},
            { name: "MOCK INTERVIEW REMARK - 2( EXCELLENT/GOOD/POOR)", type: "text",width:100,css:'rol'},
            { name: "ADV TRAINER NAME", type: "text",width:100,css:'rol'},
            { name: "ADV MODULE START DATE", type: "text",width:100,css:'rol'},
            { name: "ADV MODULE END DATE", type: "text",width:100,css:'rol'},
            { name: "ADV THEORY ( OUT OF 40 )", type: "number",width:100,css:'rol'},
            { name: "ADV PRACTICAL ( OUT OF 40 )", type: "number",width:100,css:'rol'},
            { name: "ADV ORAL ( OUT OF 20 )", type: "number",width:100,css:'rol'},
            { name: "ADV TOTAL ( OUT OF 100 )", type: "number",width:100,editing:false},
            { name: "FULL COURSE END DATE", type: "text",width:100,css:'rol'},
            { name: "CRAVITA PROJECT START DATE", type: "text",width:100,css:'rol'},
            { name: "MOCK INTERVIEW REMARK - 3( EXCELLENT/GOOD/POOR)", type: "text",width:100,css:'rol'},
            { name: "SOFT SKILLS ( OUT OF 100 )", type: "number",width:100,css:'rol'},
            { name: "FINAL MOCK INTERVIEW REMARK - ( EXCELLENT/GO/POOR)", type: "text",width:100,editing:false},
            { name: "TOTAL MARKS ( OUT OF 700 )", type: "number",width:100,editing:false},
            { name: "ELIGIBLE FOR PLACEMENT(Y/N)", type: "text",width:100,css:'rol'},
            { name: "REMARK", type: "text",width:100,css:'rol'},
            // { type:'control'},
        ]
    });
  });

</script>

{%endblock%}