{%extends 'student/base.html'%}
{%block style%}
<style type="text/css">
	#add_questions{
		float: right;
		border-radius: 10px;
		padding: 10px;
		margin-top: 7px;
	}
/*	#add_questions_form .col-md-5{
		position: fixed;
		top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
	.hide{
		display: none;
	}*/
  body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  .sticky{
    top: 50;
    position: sticky;
  }
  #timer{
    z-index: 1000;
    background-color: #76ee768c;
    position: fixed;
    right: 0;
    font-size: 15px;
    color: #f900ff;
    padding: 5px;
  }
</style>
{%endblock%}
{%load static%}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {%block content_header%}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>MCQ Test</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">MCQ Test</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    {%endblock%}

    <!-- Main content -->
    {%block content%}
    <span id="timer"><i class="fas fa-stopwatch" aria-hidden="true"></i> <span></span></span>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header bg-info">
                <div class="form-group">
                  <i class="fas fa-info text-warning" style="font-size: x-large;"> Instructions</i><br>
                  {{crs.instructions}}
                </div>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="{%if not crs%}{%url 'mcq_exam'%}{%endif%}#" method="POST">
                {%csrf_token%}
                <div class="card-body" style="border: 2px solid #17a2b8;">
                	<div class="row">

                  <!-- <div class="form-group col-md-6">
                    <label for="nameInputEmail1">Group Name</label>
                    <input name="gname" type="text" class="form-control" id="addressInputEmail1" placeholder="Enter Group Name" value="{{gname}}">
                  </div> -->
                  <div class="form-group col-md-4">
                  <label>Course</label>
                  <select class="form-control select2" style="width: 100%;" name="cname" {%if crs%}disabled{%endif%}>
                    {%for course in courses%}
                    <option {%if crs ==  course%}selected{%endif%}>{{course}}</option>
                    {%endfor%}}
                  </select>
                  {%if crs%}
                  <input type="hidden" name="cname" value="{{crs}}">
                  {%endif%}
                	</div>
                	<div class="form-group col-md-4">
                		<div class="row">
                			<div class="col-md-6">
                				<label>Section</label>
		                		<select class="form-control select2" name="type" {%if crs%}disabled{%endif%}>
		                			<option {%if crs.type == 'MCQ' %}selected{%endif%}>MCQ</option>
                          <option {%if crs.type == 'PRACTICAL' %}selected{%endif%}>PRACTICAL</option>
		                			<option {%if crs.type == 'PROGRAM' %}selected{%endif%}>PROGRAM</option>
		                		</select>
		                		{%if crs%}
				                  <input type="hidden" name="type" value="{{crs.type}}">
				                  {%endif%}
		                	</div>
		                	<div class="col-md-6">
                        {%if crs%}
                				<label>Duration</label><br>
		                		<span id="time" style="font-size: xx-large;"><input type="number" class="form-control center" name="time" placeholder="Duration in minutes" value="{{crs.time}}"  {%if crs%}disabled{%endif%}></span>
		                		{%endif%}
		                	</div>
                		</div>
                		
                	</div>
                	<div class="form-group col-md-4">
                		<!-- {%if crs%}<button type="button" id="add_questions" class="btn btn-success"data-card-widget="collapse" onclick=addquestion()><i class="fas fa-plus"></i> Add Questions</button>{%endif%} -->
                    <div class="row">
                      <div class="col-md-6">
                        <label id='marks'>Marks Scored: </label><br>
                        <label>Out Off: 40</label>
                      </div>
                    </div>
                	</div>
                	</div>
                 {%if crs%}
                 <div>
                 	<hr>
                 	<div id="add_questions_form" class="row hide">
                 		<div class="col-md-12">
                 			<div class="card ">
				              <!-- <div class="card-header bg-info">
				                <div class="form-group">
				                	<i class="fas fa-info text-warning" style="font-size: x-large;"> Instructions</i><br>
                          {{crs.instructions}}
				                </div>
				              </div> -->
				              <!-- /.card-header -->
				              <!-- form start -->
				                <div class="card-body" id="body" style="height: 800px;overflow: auto;">
				                {%for que in ques_set%}
                        <div class='question' id='{{que.id}}'>
                         <div>
                            <div class="form-group">
                                <label for="question">Question #{{forloop.counter}}</label>
                                <!-- <textarea name="question" class="form-control" id="question" col=4 placeholder="Enter Question"></textarea> -->
                                <div class="form-control">{{que.question}}</div>
                            </div>
                            <div id="choice" class="row">
                            
                            <div class="form-group col-md-6">
                                <div class="input-group">
                                  <div class="input-group-append">
                                      <div class="input-group-text"><input type="radio" id="option1{{que.id}}" name="ans{{que.id}}" value="{{que.option1}}"></div>
                                </div>
                                <label for="option1{{que.id}}" qno={{que.id}} class="form-control" onclick="option(this)">{{que.option1}}</label>  
                              </div>
                              </div>
                            <div class="form-group col-md-6">
                                <div class="input-group">
                                  <div class="input-group-append">
                                      <div class="input-group-text"><input type="radio" id="option2{{que.id}}" name="ans{{que.id}}" value="{{que.option2}}"></div>
                                </div>
                                <label for="option2{{que.id}}" qno={{que.id}} class="form-control" onclick="option(this)">{{que.option2}}</label>  
                              </div>
                              </div>
                              <div class="form-group col-md-6">
                                <div class="input-group">
                                  <div class="input-group-append">
                                      <div class="input-group-text"><input type="radio" id="option3{{que.id}}" name="ans{{que.id}}" value="{{que.option3}}"></div>
                                </div>
                                <label for="option3{{que.id}}" qno={{que.id}} class="form-control" onclick="option(this)">{{que.option3}}</label>  
                              </div>
                              </div>
                              <div class="form-group col-md-6">
                                <div class="input-group">
                                  <div class="input-group-append">
                                      <div class="input-group-text"><input type="radio" id="option4{{que.id}}" name="ans{{que.id}}" value="{{que.option4}}"></div>
                                </div>
                                <label for="option4{{que.id}}" qno={{que.id}} class="form-control" onclick="option(this)">{{que.option4}}</label>  
                              </div>
                              </div>
                          </div>
                        </div>
                    </div>
                        <hr>


                        {%endfor%}
				                </div>
				                
				                <!-- /.card-body -->
				            </div>
                 		</div>
                 	</div>
                 </div>
                  
                 {%endif%}
                <!-- /.card-body -->
            	</div>
                <div class="card-footer">
                  <input name="submit" type="submit" class="btn btn-primary">
                  <!-- {%if crs%}<button type="button" id="add_questions" class="btn btn-success"data-card-widget="collapse" onclick=addquestion()><i class="fas fa-plus"></i> Add Questions</button>{%endif%} -->
                </div>
              </form>
            </div>
        </div>
      </div>

    </section>
    {%endblock%}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

    {%block script%}
<!-- {%if crs.type == 'MCQ'%}
<script type="text/javascript">

	var qcount = 0;
	var ccount = 4;
	function validate(){
		qv = [];
		console.log('validate');
			for (i=1;i<=qcount;i++){
			flag = false;
				$("input[name='ans"+i+"']").each(function(){
					console.log(this);
					if(this.checked){
						console.log(this);
						flag = true;
					}
				});
				if (!flag){
					qv.push(i);
				}
			}
			console.log(qv);
			if (!qv.length){
				return true;
			}
			else{
				return false;
			}	
	}

	function addchoice(a){
		var b = $($(a).parent().parent().children()[0]).children()[1];
	console.log($($(a).parent().parent().children()[0]).children()[1]);
	var qno = $(a).parent().parent().attr('id');
		ccount +=1;
		var choice=	`<div class="form-group col-md-6">
	                    <label>Choice `+ccount+`</label>
	                    <div class="input-group">
	                    <input type="input" class="form-control" name="choice`+qno+`" placeholder="Choice `+ccount+`">
					    <div class="input-group-append">
	                          <div class="input-group-text"><input type="checkbox" name="ans" value="`+ccount+`"></div>
	                      </div>
	                  </div>
	                </div>`;
		$(b).append(choice);
		// console.lag(ccount);
	}

	explanation_flag = true;

	function addexplanation(a){
			console.log();
			var qno = $(a).parent().parent().attr('id');

		if($(a).parent().parent().children().length==2){
			b = $(a).parent().parent();
			var exp = `<div class="form-group col-md-12">
		                    <label>Explanation</label>
		                    <div class="input-group">
		                    <input type="input" class="form-control" name="explanation`+qno+`" placeholder="explanation">
		                  </div>
		                </div>`;
			$(b).append(exp);
			console.log($(a));
			explanation_flag = false;
		}
		
	}


	function addquestion(){
			qcount +=1;

		question = `<div class='question`+qcount+`' id='`+qcount+`'>
						<div>
	                		<div class="form-group">
			                    <label for="question">Question #`+qcount+`</label>
			                    <textarea name="question`+qcount+`" class="form-control" id="question" col=4 placeholder="Enter Question"></textarea>
			                </div>
	                  	<div id="choice" class="row">
		                  	<div class="form-group col-md-6">
			                    <label>Choice 1</label>
			                    <div class="input-group">
			                    <input type="input" class="form-control" name="choice`+qcount+`" placeholder="Choice 1">
							    <div class="input-group-append">
			                          <div class="input-group-text">
			                          	<input type="checkbox" name="ans`+qcount+`" value='1'>
			                          </div>
			                    </div>
			                  </div>
			                </div>
			                <div class="form-group col-md-6">
			                    <label>Choice 2</label>
			                    <div class="input-group">
			                    <input type="input" class="form-control" name="choice`+qcount+`" placeholder="Choice 2">
							    <div class="input-group-append">
			                          <div class="input-group-text"><input type="checkbox" name="ans`+qcount+`" value='2'></div>
			                      </div>
			                  </div>
			                </div>
			                <div class="form-group col-md-6">
			                    <label>Choice 3</label>
			                    <div class="input-group">
			                    <input type="input" class="form-control" name="choice`+qcount+`" placeholder="Choice 3">
							    <div class="input-group-append">
			                          <div class="input-group-text"><input type="checkbox" name="ans`+qcount+`" value='3'></div>
			                      </div>
			                  </div>
			                </div>
			                <div class="form-group col-md-6">
			                    <label>Choice 4</label>
			                    <div class="input-group">
			                    <input type="input" class="form-control" name="choice`+qcount+`" placeholder="Choice 4">
							    <div class="input-group-append">
			                          <div class="input-group-text"><input type="checkbox" name="ans`+qcount+`" value='4'></div>
			                      </div>
			                  </div>
			                </div>
	                  </div>
	                </div>
	                <div class'actions>
	                  <a class="btn" onclick="addchoice(this)">
	                	<i class="fas fa-plus" style="color: green"></i> Add Choice
	                	</a>
	                	<a class="btn" onclick="addexplanation(this)">
	                	<i class="fas fa-lightbulb" style="color: grey"></i> Add explanation
	                	</a>
	                </div>
	            </div>
	                <hr>`;

		$('#body').append(question);
	}
</script>
{%elif crs.type == 'PROGRAM'%}
<script type="text/javascript">
	qcount = 0;
	function addquestion(){
		qcount += 1;

		var question = `<div class='question`+qcount+`' id='`+qcount+`'>
							<div>
		                		<div class="form-group">
				                    <label for="question">Question #`+qcount+`</label>
				                    <textarea name="question`+qcount+`" class="form-control" id="question" col=4 placeholder="Enter Question"></textarea>
				                </div>
			                </div>
			            </div>`;

		$('#body').append(question);
	}
</script>
{%endif%} -->

{%if crs%}
{%if crs.type == 'MCQ'%}
<script type="text/javascript">
  function startTimer(duration, display) {
    var timer = duration, hr, minutes, seconds;
    window.a=setInterval(function () {
        hr = parseInt(timer/3600,10);
        minutes = !(timer % 360) ? parseInt( timer/3600, 10) : parseInt((timer/60)%60,10);
        seconds = parseInt(timer % 60, 10);

        hr = hr < 10 ? "0" + hr : hr;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = hr + ":" + minutes + ":" + seconds;
        $("#timer span").text( hr + ":" + minutes + ":" + seconds);
        if (timer == 60*5){
          $('#time').addClass('text-warning');
          $('#timer').addClass('text-warning');
        }

        if (--timer < 0) {
            // exit();
            // stopTimer(fiveMinutes);
            $('#time').addClass('text-danger');
            $('#timer').addClass('text-danger');
            $("input[name='submit']").trigger('click');
            // $("input[name='submit']").trigger('click');
            clearInterval(window.a);
            // exit();
        }
    }, 1000);
}

window.onload = function () {
    duration = $("input[name='time']").val();
    var fiveMinutes = 60 * duration,
        display = document.querySelector("#time");
    startTimer(fiveMinutes, display);
};

  function option(a){
    qno  = $(a).attr('qno');

    $("label[qno='"+qno+"']").removeClass('btn-info');
    $(a).addClass('btn-info');
  }

  $( "form" ).on( "submit", function( event ) {
    event.preventDefault();

    qno = [];
    $(".question").each(function(){
      qno.push($(this).attr('id'));
      // console.log($("input[name='"+qno+"']"))
    })
    clearInterval(window.a);
    console.log(qno);
    console.log( $("form" ).serialize()+"&qnos="+qno );
    $.post( "http://127.0.0.1:8000/mcq_validate/", $( "form" ).serialize()+"&qnos="+qno ).done(function(data){
    $('form input').attr('disabled','disabled');
    $('form label').attr('onclick','false');
    // console.log(data.replaceAll("'",'"'));
      // console.log(JSON.parse(data.replaceAll("'",'"')));
      data = JSON.parse(data.replaceAll("'",'"'));
      console.log(data);
      window.marks = parseInt(data.marks);
      $('#marks').append(marks);
      if(data.attempt == 'Attempts Overed'){
      $('#marks').append(" (Attempts Overed)");

      }
      if (marks>28) {
        $('#marks').addClass('text-success');
      }
      else{
        $('#marks').addClass('text-danger');
      }
      // $("input[name='submit']").trigger('click');
      $.each(data.answers,function(){
        qno = this.question;
        console.log(qno);
          // console.log($("label[for=option1"+qno+"]").text(),this.answer);
        if($("label[for=option1"+qno+"]").text() == this.answer){
          if ($("label[for=option1"+qno+"]").hasClass('btn-info')) {
            $("label[for=option1"+qno+"]").removeClass('btn-info');
            $("label[for=option1"+qno+"]").addClass('btn-success');
          }
          else{
            $("label[for=option1"+qno+"]").addClass('btn-info');
          }
        }else{
          if($("label[for=option1"+qno+"]").hasClass('btn-info')){
            $("label[for=option1"+qno+"]").addClass('btn-danger');
            $("label[for=option1"+qno+"]").removeClass('btn-info');
          }
        }
        if($("label[for=option2"+qno+"]").text() == this.answer){
          if ($("label[for=option2"+qno+"]").hasClass('btn-info')) {
            $("label[for=option2"+qno+"]").removeClass('btn-info');
            $("label[for=option2"+qno+"]").addClass('btn-success');
          }
          else{
            $("label[for=option2"+qno+"]").addClass('btn-info');
          }
        }else{
          if($("label[for=option2"+qno+"]").hasClass('btn-info')){
            $("label[for=option2"+qno+"]").addClass('btn-danger');
            $("label[for=option2"+qno+"]").removeClass('btn-info');
          }
        }
        if($("label[for=option3"+qno+"]").text() == this.answer){
          if ($("label[for=option3"+qno+"]").hasClass('btn-info')) {
            $("label[for=option3"+qno+"]").removeClass('btn-info');
            $("label[for=option3"+qno+"]").addClass('btn-success');
          }
          else{
            $("label[for=option3"+qno+"]").addClass('btn-info');
          }
        }else{
          if($("label[for=option3"+qno+"]").hasClass('btn-info')){
            $("label[for=option3"+qno+"]").addClass('btn-danger');
            $("label[for=option3"+qno+"]").removeClass('btn-info');
          }
        }
        if($("label[for=option4"+qno+"]").text() == this.answer){
          if ($("label[for=option4"+qno+"]").hasClass('btn-info')) {
            $("label[for=option4"+qno+"]").removeClass('btn-info');
            $("label[for=option4"+qno+"]").addClass('btn-success');
          }
          else{
            $("label[for=option4"+qno+"]").addClass('btn-info');
          }
        }else{
          if($("label[for=option4"+qno+"]").hasClass('btn-info')){
            $("label[for=option4"+qno+"]").addClass('btn-danger');
            $("label[for=option4"+qno+"]").removeClass('btn-info');
          }
        }
      });
    });
  // var q_set = [];
  // $.each($('.question'),function(){

  //     // console.log($(this).attr('id'));
  //     q_set.push($(this).attr('id'));
  //     });
  // // console.log(q_set);
  // var q_a_set = [];
  // $.post("http://127.0.0.1:8000/get/answers/",{question_set:q_set}).done(function(data){
  //   // console.log(data);
  //   window.set=JSON.parse(data);
  //   // console.log(q_a_set);
  // });
  // // console.log(window.set);\
  // window.oss = [];
  // $.each(window.set,function(i,it){
  //   // console.log(it);
  //   question = '#'+it.question+'';      //question
  //   o = it.options;       //options of question
  //   // console.log(question,o);
  //   $.grep(o,function(i,it){
  //     // console.log(i.status);
  //     if (i.status){
  //       window.oss.push(i);
  //     }
  //   });
  //   // console.log(oss);
  //   opts = $(question).children().children();
  //   // console.log(opts.children(".form-group"));
  //   choices = opts.children(".form-group");
  //   // choices = choices.children();
  //   hint = $(choices).parent().parent();
  //   // console.log(it);
  //   $.each(choices,function(){
  //     label = $(this).children().children('label');
  //     c = $(this).children().children('label').attr('for');
  //     // c = c.children().children();
  //     c = parseInt(c.replace("customCheckbox",''));
  //     // console.log(c,oss);
  //     flag = false;
  //     expl = "";
  //     $.each(oss,function(){
  //       oid = this.id;
  //       // a=this.explanation;
  //       expl = this.explanation;
  //       // console.log(expl);
  //       if (c == oid) {
  //         flag = true;
  //       }
  //       if (flag == true) {

  //         if ($(label).hasClass('btn-info')) {
  //           $(label).removeClass('btn-info');
  //           $(label).addClass('btn-success');
  //           // $(hint).append(this.explanation);
  //         }
  //         else{
  //           $(label).removeClass('btn-info');
  //           $(label).addClass('btn-primary');
            
  //         }
          
  //       }
  //       else{
  //         if ($(label).hasClass('btn-info') && !$(label).hasClass('btn-primary')) {
  //           // $(label).removeClass('btn-info');
  //           // $(label).removeClass('btn-sucess');
  //           $(label).removeClass('btn-info');
  //           $(label).addClass('btn-danger');
  //         }
  //       }
        
  //     });
  //     // a = this.explanation;
  //           // console.log(hint,a);
  //     })
  //   hint.append("<div class='bg-warning'>"+expl+"</div>");

  //   // console.log();
  //     $('input').each(function(){
  //   $(this).attr('disabled','disabled');
  // })
  // })
  // console.log(q_a_set);

});
</script>
{%elif crs.type == 'PROGRAM'%}

{%endif%}
{%endif%}



<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2({
    	tags:true
    })

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4',
      tags:true
    })

    //Datemask dd/mm/yyyy

    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    })

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    })

  })
  // BS-Stepper Init
  document.addEventListener('DOMContentLoaded', function () {
    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
  })

  // DropzoneJS Demo Code Start
  Dropzone.autoDiscover = false

  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
  var previewNode = document.querySelector("#template")
  previewNode.id = ""
  var previewTemplate = previewNode.parentNode.innerHTML
  previewNode.parentNode.removeChild(previewNode)

  var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
    url: "/target-url", // Set the url
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    parallelUploads: 20,
    previewTemplate: previewTemplate,
    autoQueue: false, // Make sure the files aren't queued until manually added
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
  })

  myDropzone.on("addedfile", function(file) {
    // Hookup the start button
    file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file) }
  })

  // Update the total progress bar
  myDropzone.on("totaluploadprogress", function(progress) {
    document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
  })

  myDropzone.on("sending", function(file) {
    // Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1"
    // And disable the start button
    file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
  })

  // Hide the total progress bar when nothing's uploading anymore
  myDropzone.on("queuecomplete", function(progress) {
    document.querySelector("#total-progress").style.opacity = "0"
  })

  // Setup the buttons for all transfers
  // The "add files" button doesn't need to be setup because the config
  // `clickable` has already been specified.
  document.querySelector("#actions .start").onclick = function() {
    myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
  }
  document.querySelector("#actions .cancel").onclick = function() {
    myDropzone.removeAllFiles(true)
  }
  // DropzoneJS Demo Code End
</script>
    {%endblock%}
