{%extends 'student/base.html'%}
{%block style%}
<style type="text/css">
	#add_questions{
		float: right;
		border-radius: 10px;
		padding: 10px;
		margin-top: 7px;
	}
	
  body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  .sticky{
    top: 50;
    position: sticky;
  }
  #timer{
    z-index: 1000;
    background-color: #76ee768c;
    position: fixed;
    right: 0;
    font-size: 15px;
    color: #f900ff;
    }
</style>
{%endblock%}
{%load static%}

{%block page_link%}
{%block page_title%}
Exam
{%endblock%}
{%endblock%}

{%block content%}
<span id="timer"><i class="fas fa-stopwatch" aria-hidden="true"></i> <span></span></span>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div id="header" class="card-header bg-info">
            <div class="form-group">
              <i class="fas fa-info text-warning" style="font-size: x-large;"> Instructions</i><br>
              {%if crs%}{{crs.instructions}}{%else%}For Advance Domain Practical And Portfolio Select Prgorgam{%endif%}
            </div>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="{%if crs.type == 'PRACTICAL'%}{%url 'save_practical'%}{%elif crs.type == 'PROGRAM'%}{%url 'save_program'%}{%endif%}" method="POST" onsubmit="return check()" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="card-body" style="border: 2px solid #17a2b8;">
            	<div class="row">

              <div class="form-group col-md-4">
              <label>Course</label>
                {%if not crs%}

              <select class="form-control select2" style="width: 100%;" name="cname" {%if crs%}disabled{%endif%}>
                {%for course in courses%}
                <option {%if crs ==  course%}selected{%endif%}>{{course}}</option>
                {%endfor%}}
              </select>
                {%else%}
                <input type="text" value="{{crs}}" class="form-control" disabled="">

                {%endif%}

              {%if crs%}
              <input type="hidden" name="cname" value="{{crs}}">
              {%endif%}
            	</div>
            	<div class="form-group col-md-4">
            		<div class="row">
            			<div class="col-md-6">
            				<label>Section</label>
                		<select class="form-control select2" name="type" {%if crs%}disabled{%endif%}>
                			<option {%if crs.type == 'MCQ' %}selected{%endif%}>MCQ</option>
                      <option {%if crs.type == 'PRACTICAL' %}selected{%endif%}>PRACTICAL</option>
                			<option {%if crs.type == 'PROGRAM' %}selected{%endif%}>PROGRAM</option>
                		</select>
                		{%if crs%}
		                  <input type="hidden" name="type" value="{{crs.type}}">
		                  {%endif%}
                	</div>
                	<div class="col-md-6">
                    {%if crs%}
            				<label>Duration</label><br>
                		<span id="time" style="font-size: xx-large;"><input type="number" class="form-control center" name="time" placeholder="Duration in minutes" value="{{crs.time}}"  {%if crs%}disabled{%endif%}></span>
                		{%endif%}
                	</div>
            		</div>
            		
            	</div>
            	<div class="form-group col-md-4">
                <div class="row">
                  <div class="col-md-6">
                    <label id='marks'>Marks Scored: </label><br>
                    <label>Out Off: 40</label>
                  </div>
                </div>
            	</div>
            	</div>
             {%if crs%}
             <div>
             	<hr>
             	<div id="add_questions_form" class="row hide">
             		<div class="col-md-12">
             			<div class="card ">
		              <!-- /.card-header -->
		              <!-- form start -->
		                <div class="card-body" id="body" style="height: 800px;overflow: auto;">
                      <i>Click on Question to open IDE</i>
		                {%for pro in prog_set%}
                    <div class='question' id='{{pro.id}}'>
                     <div>
                        <div class="form-group">
                            <label for="question">Program #{{forloop.counter}}</label>
                            <div class="form-control program" id="que{{pro.pk}}" onclick="(function(){$('#program{{pro.pk}}').toggleClass('collapse');disa('{{pro.pk}}');})()">{{pro.fields.programe}}</div> 
                        </div>
                        <div id="program{{pro.pk}}" class="row collapse">
                          {%if crs.type == 'PRACTICAL'%}
                         <div class="col-md-8"><iframe src="https://techiedelight.com/compiler/" width="100%" height="500px;"></iframe>
                         </div>

                         <div class="col-md-4">
                           <textarea class="form-control ans" style="width: 100%;height: 90%" pno="{{pro.pk}}" name="ans{{pro.pk}}" placeholder="Paste your code here"></textarea>
                    <a class="btn btn-primary" style="margin-top: 10px;" pno={{pro.pk}} onclick="save()">SAVE</a>

                         </div>
                         
                         {%elif crs.type == 'PROGRAM'%}
                         <div class="col-md-5">
                           <div class="input-group">
                              <div class="custom-file">
                                <input type="file" name=file{{pro.pk}} class="custom-file-input" id="file{{pro.pk}}">
                                <label class="custom-file-label" for="file{{pro.pk}}">Choose zip file</label>
                              </div>
                              <div class="input-group-append">
                                <span class="input-group-text btn" onclick="sub()">Upload</span>
                              </div>
                            </div>
                                <span>* Mandatory only zip file allowed</span>

                         </div>
                         {%endif%}
                         <br>
                      </div>
                    </div>
                </div>
                    <hr>

                    {%endfor%}
		                </div>
		                
		                <!-- /.card-body -->
		            </div>
             		</div>
             	</div>
             </div>
              
             {%endif%}
            <!-- /.card-body -->
        	</div>
            <div class="card-footer">
              <input name="submit" type="submit" class="btn btn-primary">
              <!-- {%if crs%}<button type="button" id="add_questions" class="btn btn-success"data-card-widget="collapse" onclick=addquestion()><i class="fas fa-plus"></i> Add Questions</button>{%endif%} -->
            </div>
          </form>
        </div>
    </div>
  </div>
</section>
  <input type="text" id="clear" value="Copy Blocked" readonly="" style="visibility: hidden;">

{%endblock%}

{%block script%}
{%if crs%}
<script type="text/javascript">
  function startTimer(duration, display) {
    var timer = duration, hr, minutes, seconds;
    window.a=setInterval(function () {
      setCookie('timer',timer,1);
        hr = parseInt(timer/3600,10);
        minutes = !(timer % 360) ? parseInt( timer/3600, 10) : parseInt((timer/60)%60,10);
        seconds = parseInt(timer % 60, 10);

        hr = hr < 10 ? "0" + hr : hr;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = hr + ":" + minutes + ":" + seconds;
        $("#timer span").text( hr + ":" + minutes + ":" + seconds);
        if (timer == 60*5){
          $('#time').addClass('text-warning');
          $('#timer').addClass('text-warning');
        }

        if (--timer < 0) {
            $('#time').addClass('text-danger');
            $('#timer').addClass('text-danger');
            $("input[name='submit']").trigger('click');
            clearInterval(window.a);
        }
    }, 1000);
  }
  if(getCookie('timer')==""){
    duration = $("input[name='time']").val();
    // console.log(duration);
    var fiveMinutes = 60 * duration,
        display = document.querySelector("#time");
    startTimer(fiveMinutes, display);
  }
  else{
    var fiveMinutes = parseInt(getCookie('timer'),10),
        display = document.querySelector("#time");
    startTimer(fiveMinutes, display);
  }
</script>
{%if crs.type == 'PRACTICAL'%}
<script type="text/javascript">


function check(){
  document.cookie = "timer=abcd; expires=Thu, 18 Dec 2013 12:00:00 UTC; path=/";
      document.cookie = "que_ans=abcd; expires=Thu, 18 Dec 2013 12:00:00 UTC; path=/";
      document.cookie = "prog_set=abcd; expires=Thu, 18 Dec 2013 12:00:00 UTC; path=/";
}

  if(getCookie('que_ans')!=''){
    question_answer = JSON.parse(getCookie('que_ans'));
    $('.programe').each(function(index) {
      $(this).val(question_answer[index])
    })
    // console.log(question_answer);
  }
  
  function disa(a){};
  
  function save(){
    question_answer=[];

    setCookie('que_ans',JSON.stringify(question_answer),1);
  }
  window.alertf = 0;
  var result =false;


  $('html').mouseenter(function(){
    // alert();
    if (result){
      $("#clear").select();
    document.execCommand("copy");
    result = false;
    // alert(result);
    }
  });

  $('html').mouseleave(function(){
    // alert(result);
    result=true;
  });

  </script>
  {%elif crs.type == 'PROGRAM'%}
<script type="text/javascript">
    


  if(getCookie('que_ans')!=''){
    question_answer = JSON.parse(getCookie('que_ans'));
    $('textarea').each(function(index) {
      $(this).val(question_answer[index])
    })
    // console.log(question_answer);
  }

    function sub(){
      $("input[name='submit']").trigger('click');
    }
    function check(){
      var fileInput =  "";
      $("input[type='file']").each(function(){
        if(!$(this).attr('disabled')){
          fileInput =  $(this);
        }
      })
      var filePath = $(fileInput).val(); 

      
      if (filePath.indexOf('.zip')<0 || !filePath) { 
          alert('Invalid file type'); 
          fileInput.value = ''; 
          return false;       
      } 
      else if (confirm(filePath)){
         document.cookie = "timer=abcd; expires=Thu, 18 Dec 2013 12:00:00 UTC; path=/";
      document.cookie = "prog_set=abcd; expires=Thu, 18 Dec 2013 12:00:00 UTC; path=/";
        clearInterval(window.a)
          return true;
          
        }
  }
    function disa(a){
        name = "file"+a;
        console.log(name);
      $("input[type='file']").each(function(){
        if($(this).attr('name') != name){
        $(this).attr('disabled',true);
      }
      else{
        $(this).attr('disabled',false);
      }
      })

    }
  </script>
  {%endif%}
{%endif%}


<script>
  $(function () {
    $('.select2').select2({
    	tags:true
    })

    $('.select2bs4').select2({
      theme: 'bootstrap4',
      tags:true
    })
})
</script>
    {%endblock%}
