{%extends 'student/base.html'%}
{%load admin_menu%}
{%load static%}
{%block style%}
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid.min.css'%}">
  <link rel="stylesheet" href="{%static 'student/plugins/jsgrid/jsgrid-theme.min.css'%}">
  <style type="text/css">
  .fix-id{
     position: sticky;
  left: 0;
  z-index: 2;
  }
  .fix-name{
    position: sticky;
    left: 0px;
    z-index: 2;
  }
  .fix-contact{
    position: sticky;
    left: 150px;
    z-index: 2;
  }
</style>
{%endblock%}

{%block page_link%}
{%block page_title%}
Validate Practical
{%endblock%}
{%endblock%}

{%block content%}
<section class="content">
  <div class="card card-primary">
    <div class="card-header row">
      <h3 class="card-title col-md-6">Student Profile</h3>

      <div class=" col-md-6">
        <!-- <label>Custom Select</label> -->
        <div class="row">
<!--           <div class="col-sm-4">
            <select name="gname" class="custom-select select2" onchange="load()">
              <option value="all groups">All Groups</option>
              {%for gname in groups%}
              <option value="{{gname}}">{{gname}}</option>
              {%endfor%}
            </select>
          </div> -->
          <div class="col-sm-4">
            <select name="cname" class="custom-select select2" onchange="load()">
              {%for course in courses%}
              <option value="{{course}}">{{course}}</option>
              {%endfor%}
            </select>
          </div>
          <div class="col-sm-4">
            <select name="type" class="custom-select select2" onchange="load()">
            <!-- <option value="ORAL">ORAL</option> -->
              <option value="MCQ">MCQ</option>
              <option value="PRACTICAL">PRACTICAL</option>
              <option value="PROGRAM">PROGRAM</option>
            </select>
          </div>
        </div>
        
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div id="grid"></div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>
{%endblock%}

{%block script%}
<style type="text/css">
  .hide{
    display: none;
  }
</style>

<script src="{%static 'student/plugins/jsgrid/jsgrid.min.js'%}"></script>

<script type="text/javascript">

  var db = {};
  load();
 function load(){
  var gname=$("select[name='gname']").val();
console.log(gname);
    var cname=$("select[name='cname']").val();
console.log(cname);
    var type=$("select[name='type']").val();
console.log(type);
  var url = "{%url 'getdata_practicle'%}";

  if (type == 'ORAL'){
    var url = "{%url 'getdata_oral'%}";
  }

  if (type=='ORAL') {
   var field= [
            { name: "ID", type: "number", width: 70,editing:false},
            { name: "fields.NAME", type: "text", width: 70,editing:false},
            { name: "MARKS", type: "text",width:100,editing:true},
        ];
  }
  else if (type=='MCQ') {
   var field= [
            { name: "ID", type: "number", width: 70,editing:false},
            { name: "NAME", type: "text", width: 70,editing:false},
            { name: "COURSE", type: "text", width: 70,editing:false},
            { name: "TYPE", type: "text", width: 70,editing:false},
            { name: "ATTEMPT", type: "text",width:70,editing:false},
            { name: "MARKS", type: "text",width:100,editing:true},
        ];
  }
  else if(type=='PRACTICAL'){
     var field= [
            { name: "ID", type: "number", width: 70,editing:false},
            { name: "NAME", type: "text", width: 70,editing:false},
            { name: "COURSE", type: "text", width: 70,editing:false},
            { name: "TYPE", type: "text", width: 70,editing:false},
            { name: "ATTEMPT", type: "text",width:70,editing:false},
            { name: "MARKS", type: "text",width:100,editing:false},
            { name: "PROGRAMS", type: "text",width:100,editing:false,itemTemplate: function(value) {
              return "<a class='btn btn-success' href='http://127.0.0.1:8000/view/practicle/"+value+"'target='new'><i class='fa fa-eye'></i> OPEN</a>";},},
        ]
  }
  else if(type=='PROGRAM'){
     var field= [
            { name: "ID", type: "number", width: 70,editing:false},
            { name: "NAME", type: "text", width: 70,editing:false},
            { name: "COURSE", type: "text", width: 70,editing:false},
            { name: "TYPE", type: "text", width: 70,editing:false},
            { name: "ATTEMPT", type: "text",width:70,editing:false},
            { name: "MARKS", type: "text",width:100,editing:true},
            { name: "QUATION", type: "text",width:100,editing:false},
            { name: "FILE", type: "text",width:100,editing:false,itemTemplate: function(value) {
              return "<a class='btn btn-success' href='/media/"+value+"'><i class='fa fa-download'></i> DOWNLOAD</a>";},},
        ]
  }


    $('#grid').jsGrid({fields:field});

$.get(url,{cname:cname,type:type,gname:gname},function(data,status){

    data = data.replaceAll("'",'"');
    db.data=JSON.parse(data);
    console.log(db.data);

    $('#grid').jsGrid({data:db.data});

    $(".jsgrid-grid-body").keypress(function(){var keycode = (event.keyCode ? event.keyCode : event.which);
          if(keycode == '13'){window.edit_row=this;$('#grid').jsGrid('updateItem')}});
});
var has_focus = true;

window.onblur = function(){  
    has_focus=false;  
}
window.onfocus = function(){  
    has_focus=true;  
    load();
}

 }

</script>
<script type="text/javascript">
$(function () {

    $("#grid").jsGrid({
        height: "auto",
        width: "100%",

        filtering: true,
        editing: true,
        sorting: true,
        paging: true,

        data: db.data,

        controller: {
          loadData: function(filter) {
           return $.grep(db.data, function(client) {
                var flag=false;
                $.each(Object.keys(client),function(key,val){
                    val=val.toString();
                    val1=client[val].toString();
                    val2=filter[val];
                    if (!val2 || val2==undefined || val1.indexOf(val2) > -1){

                    flag=true;
                    }else{
                        flag=false;
                        return false;
                    };
                })
                 if (flag) {
                    return client;
                }
            });
        },
          insertItem: $.noop,
          updateItem: function(item) {
            if ($("select[name='type']").val()=='ORAL'){
              Url = "{%url 'setoralmarks'%}";
            }
            else{
            Url = "{%url 'setprogrammarks'%}";
            }
            data={
                row:item,
            }
                $.get(Url,{id:item.ID,value:item.MARKS,gname:gname},function(data,status){

                });
            },
          deleteItem: $.noop
        },

        fields: [
            { name: "ID", type: "number", width: 70,editing:false},
            { name: "NAME", type: "text", width: 70,editing:false},
            { name: "MARKS", type: "text",width:100,editing:true},
        ]
    });
  });

// $('.select2').select2({
//       })

// $('.select2').on('.select2:opening .select2:closing', function( event ) {
//     var $searchfield = $(this).parent().find('.select2-search__field');
//     $searchfield.prop('disabled', true);
// });
</script>
{%endblock%}



