{%extends 'student/base.html'%}
{%load static%}
{%block style%}
<style type="text/css">
	#add_questions{
		float: right;
		border-radius: 10px;
		padding: 10px;
		margin-top: 7px;
	}

  .sticky{
    top: 50;
    position: sticky;
  }
  #timer{
    z-index: 1000;
    background-color: #76ee768c;
    position: fixed;
    right: 0;
    font-size: 15px;
    color: #f900ff;
  }
  .fa-copy:hover{
    color: blue;
    cursor: pointer;
  }
</style>
{%endblock%}

{%block page_link%}
{%block page_title%}
View Practical
{%endblock%}
{%endblock%}

{%block content%}
<span id="timer"><i class="fas fa-stopwatch" aria-hidden="true"></i> <span></span></span>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div id="header" class="card-header bg-info">
            <div class="form-group">
              <i class="fas fa-info text-warning" style="font-size: x-large;"> Instructions</i><br>
              {{crs.instructions}}
            </div>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="{%if crs%}{%url 'marks_practicle' %}{%endif%}" method="POST">
            {%csrf_token%}
            <div class="card-body" style="border: 2px solid #17a2b8;">
            	<div class="row">
              <div class="form-group col-md-12">
                <div class="form-control">
                  <label>NAME: </label><span style="padding-left: 20px;font-size: 16px;font-weight: 800;">{{prog_set.0.student.first_name}}</span>
                  <span style="padding-left: 20px;font-size: 16px;font-weight: 800;float: right;">{{gname}}</span>
                  <label style="float: right;">GROUP: </label>
                </div>
                <input type="hidden" name="attempt" value="{{ex.id}}">
              </div>
              <div class="form-group col-md-4">
              <label>Course</label>
              <select class="form-control select2" style="width: 100%;" name="cname" {%if crs%}disabled{%endif%}>
                {%for course in courses%}
                <option {%if crs ==  course%}selected{%endif%}>{{course}}</option>
                {%endfor%}}
              </select>
              {%if crs%}
              <input type="hidden" name="cname" value="{{crs}}">
              {%endif%}
            	</div>
            	<div class="form-group col-md-4">
            		<div class="row">
            			<div class="col-md-6">
            				<label>Section</label>
                		<select class="form-control select2" name="type" {%if crs%}disabled{%endif%}>
                			<option {%if crs.type == 'MCQ' %}selected{%endif%}>MCQ</option>
                      <option {%if crs.type == 'PRACTICAL' %}selected{%endif%}>PRACTICAL</option>
                			<option {%if crs.type == 'PROGRAM' %}selected{%endif%}>PROGRAM</option>
                		</select>
                		{%if crs%}
		                  <input type="hidden" name="type" value="{{crs.type}}">
		                  {%endif%}
                	</div>
                	<div class="col-md-6">
                    {%if crs%}
            				<label>Duration</label><br>
                		<span id="time" style="font-size: xx-large;"><input type="number" class="form-control center" name="time" placeholder="Duration in minutes" value="{{crs.time}}"  {%if crs%}disabled{%endif%}></span>
                		{%endif%}
                	</div>
            		</div>
            	</div>
            	<div class="form-group col-md-4">
                <div class="row">
                  <div class="col-md-6">
                    <label id='marks'>Marks Scored: </label><br>
                    <label>Out Off: 40</label>
                  </div>
                </div>
            	</div>
            	</div>
             {%if crs%}
             <div>
             	<hr>
             	<div id="add_questions_form" class="row hide">
             		<div class="col-md-12">
             			<div class="card ">
		                <div class="card-body" id="body" style="height: 800px;overflow: auto;">
                      <div class="row">
                        <div class="col-sm-6">
                          <iframe src="https://techiedelight.com/compiler/" width="100%" height="500px;"></iframe>
                        </div>
                        <div class="col-sm-6" style="height: 500px;overflow-y: scroll;">

                          {%for pro in prog_set%}
                        <div class='question' id='{{pro.id}}'>
                          <div>
                            <div class="form-group">
                              <label for="question">Program #{{forloop.counter}}</label>
                              <div class="form-control program" id="que{{pro.id}}" >
                                <div class="row">
                                  <div class="col-sm-9" onclick="(function(){$('#program{{pro.id}}').toggleClass('collapse')})()">{{pro.program}}</div>
                                  <div class="col-sm-2"><input type="integer" class="form-control" name="marks" min=0 max="4" placeholder="0-3" required=""></div>
                                  <div class="col-sm-1"><a><i class="fas fa-copy" onclick="copy_to_clipboard({{pro.id}})"></i></a></div>
                                </div> 
                              </div> 
                            </div>

                            <div id="program{{pro.id}}" class="row collapse">
                              {%if crs.type == 'PRACTICAL'%}
                             <div class="col-sm-12">
                               <textarea class="form-control ans" style="width: 100%;height: 90%" name="ans{{pro.id}}" placeholder="Paste your code here" readonly="">{{pro.answer}}</textarea>
                               <div class="row" style="padding: 10px;">
                             </div>

                             {%else%}
                             <div class="col-md-12">
                               <div class="form-group">
                                 <input type="file" name="{{pro.id}}" class="form-group">
                                 <label>Submit Your Code Here...</label>
                               </div>
                             </div>
                             {%endif%}
                             <br>
                            </div>
                          </div>
                        </div>
                        <hr>
                        {%endfor%}
                        </div>         
                      </div>
		                </div>  
		                <!-- /.card-body -->
		            </div>
             		</div>
             	</div>
             </div>
              
             {%endif%}
            <!-- /.card-body -->
        	</div>
            <div class="card-footer">
              <input name="submit" type="submit" class="btn btn-primary">
            </div>
          </form>
        </div>
    </div>
  </div>
</section>
{%endblock%}


{%block script%}
  <script>
    $(function () {
      //Initialize Select2 Elements
      $('.select2').select2({
      	tags:true
      })

    })

    function copy_to_clipboard(name) {
      $("textarea[name=ans"+name+"]").select();
      document.execCommand("copy");
    }
  </script>
{%endblock%}
