
{%extends 'student/base.html'%}
{%load static%}
{%block style%}
<style type="text/css">
.hide{
  display: none;
}
iframe{
  border:0px;
}
.progress-outer{
    background: #fff;
    border-radius: 50px;
    padding: 7px;
    /*margin: 10px 0;*/
    box-shadow: 0 0  10px rgba(209, 219, 231,0.7);
}
.progress{
    height: 15px;
    margin: 0;
    overflow: visible;
    border-radius: 50px;
    background: #eaedf3;
    box-shadow: inset 0 10px  10px rgba(244, 245, 250,0.9);
}
.progress .progress-bar{
    border-radius: 50px;
}
.progress .progress-value{
    position: relative;
    left: -45px;
    top: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}
.progress-bar.active{
    animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}
@-webkit-keyframes animate-positive{
    0% { width: 0%; }
</style>
  <link rel="stylesheet" type="text/css" href="{%static 'video.css'%}">
  <!-- <link rel="stylesheet" type="text/css" href="{%static 'dashboard.css'%}"> -->
 <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
{%endblock%}

{%load admin_menu%}

{%block page_link%}
{%block page_title%}
Videos
{%endblock%}
{%endblock%}

{%block content%}

<section class="content">
  <div class="col-sm-12 col-md-12" style="margin-top: 0px;">
    <div class="row up_title">
      <div id="title" class="col-sm-12 col-md-6">{{videos.0}}</div>
      <div class="col-md-6">
        <div class="progress-outer">
              <div class="progress">
                  <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:{{per}}%; box-shadow:-1px 10px 10px rgba(240, 173, 78,0.7);"></div>
                  <div class="progress-value">{{per}}%</div>
              </div>
        </div>
      </div>
    </div>
    
    <div class="row container">
      <div class="col-sm-12 col-md-8">
        <div id="video"  style="background-color: #9193955e;" style="height: 100%;width: 100%;"><!-- #545190b8; -->
            <iframe src="{%url 'videoframe' course=course video=videos.0 key=key%}" height="100%" width="100%" style="overflow: hidden;"></iframe>
        </div>
      </div>

      <main class="col-sm-12 col-md-4">
        {%for v in videos%}
        <article class="item {%if v in watched%} watched {%endif%} "  {%if request.user|has_per_name:v or request.user.is_superuser%} data-key="{{v}}"{%else%}class="bg-danger" data-toggle="tooltip" data-placement="top" title="This Video is currently locked for you"{%endif%} >
            <img src="/media/videos/thumb/{{course}}/{{v}}.jpg" alt="" class="thumb">
            <div class="details">
                <span class='title'>{{v}}</span>  
            </div>
        </article>
        {%endfor%}
      </main>
    </div>  
  </div>
</section>
{%endblock%}

{%block script%}
  <script type="text/javascript" src="{%static 'video.js'%}"> </script>
 <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
<script type="text/javascript">
  $("article").click(function(){
    url = "{%url 'getnewvideokey'%}";
    window.key = "";

    var datakey=$(this).attr('data-key');
    if (datakey){
      
      $.get(url,{},function(data){
        // console.log(window.key);
      var src = window.location.origin+"/videoframe/{{course}}/"+datakey+"/"+data+"/";
      $('iframe').attr('src',src);
      // $('#video').html(`<iframe src="/videoframe/{{course}}/`+datakey+`/`+data+`" height="100%" width="100%" style="overflow: hidden;"></iframe>`);
      $("#title").text(datakey);
      // url = window.location.origin+"/watched_video/?course={{course}}&video="+datakey;
      // console.log(url);
      });
    }
    else{
      alert('This video is locked');
    }
  })
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });
</script>
</style>

{%endblock%}