
{%extends 'student/base.html'%}
{%load static%}
{%block style%}
<style type="text/css">
.hide{
  display: none;
}
iframe{
  border:0px;
}
</style>
  <link rel="stylesheet" type="text/css" href="{%static 'video.css'%}">
  <!-- <link rel="stylesheet" type="text/css" href="{%static 'dashboard.css'%}"> -->
 <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
{%endblock%}
{%load admin_menu%}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {%block content_header%}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Videos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Videos</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    {%endblock%}

    <!-- /.content-header -->

    <!-- Main content -->
    {%block content%}

        <!-- Script for the picture-in-picture plugin -->
        <script src="https://players.brightcove.net/videojs-pip/1/videojs-pip.min.js"></script>
    <section class="content">
  <div class="col-sm-12 col-md-12" style="margin-top: 0px;">
    <div class="row up_title">
      <div id="title" class="col-sm-12 col-md-8">{{videos.0}}</div>

      </div>
    
    <div class="row container">

      <div class="col-sm-12 col-md-8">
        <div id="video"  style="background-color: #9193955e;" style="height: 100%;width: 100%;"><!-- #545190b8; -->
            <iframe src="http://127.0.0.1:8000/videoframe/{{course}}/{{videos.0}}/" height="100%" width="100%" style="overflow: hidden;"></iframe>
        </div>

      </div>

      <main class="col-sm-12 col-md-4">
        {%for v in videos%}
        <article class="item" {%if not requst.user.username%} data-key="{{v}}"{%endif%}>
            <img src="/media/videos/thumb/{{course}}/{{v}}.jpg" alt="" class="thumb">
            <div class="details">
                <span class='title'>{{v}}</span>  
            </div>
        </article>
        {%endfor%}
      </main>
      
    </div>  
  </div>
  </section>
    {%endblock%}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{%block script%}
  <script type="text/javascript" src="{%static 'video.js'%}"> </script>
 <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
<script type="text/javascript">
  $("article").click(function(){
    var datakey=$(this).attr('data-key');
    var src = "http://127.0.0.1:8000/videoframe/{{course}}/"+datakey;
    $('iframe').attr('src',src);
    $("#title").text(datakey);
  })
</script>
</style>

{%endblock%}