
{%extends 'student/base.html'%}
{%load static%}
{%block style%}
<style type="text/css">
.hide{
  display: none;
}
iframe{
  border:0px;
}
</style>
  <link rel="stylesheet" type="text/css" href="{%static 'video.css'%}">
  <!-- <link rel="stylesheet" type="text/css" href="{%static 'dashboard.css'%}"> -->
 <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
{%endblock%}
{%load admin_menu%}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {%block content_header%}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Videos Permissions</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Videos Permissions</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    {%endblock%}

    <!-- /.content-header -->

    <!-- Main content -->
    {%block content%}

    {%endblock%}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{%block script%}
  

{%endblock%}