<!DOCTYPE html>
{%load static%}
<html>
<head>
	<title>Dashboard</title>
</head>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{%static 'dashboard.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'progress.css'%}">

<body style="overflow-x: hidden;background-color: #eee;">
	<header>
		<img src="http://www.fortunecloudindia.com/images/logo/logon.png" alt="" class="logo">
		<hr style="height: 3px;width: 100%;color: blue;">
	</header>

	<!-- <div class="" > -->

	<div class="row main" style="">
		<div class="col-sm-12 col-md-2 menu" style="">
			<nav class="navbar navbar-expand-lg navbar-light bg-light" style="overflow: auto;">
			  <a class="navbar-brand hide" href="{url 'dashboard'}" style="font-size: 25px;">
			  	<img src="http://www.fortunecloudindia.com/images/logo/logon.png" alt="" class="logo logo-nav">
			  </a>
			  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button> -->
			  <div class="collapse navbar-collapse" id="navbarNavDropdown" style="padding-bottom: 50%;background-color: #75a8dc!important;">
				    <ul class="navbar-nav">
				    <span class="navbar-brand" href="#">&nbspEDGE</span>
				      <li class="nav-item {%if subject == 'c'%} select {%endif%}">
				        <a class="nav-link" {%if allowcourse.c %} href="/videoself/c" {%endif%}>C language</a>
				      </li>
				      <li class="nav-item {%if subject == 'sql'%} select {%endif%}" >
				        <a class="nav-link" href="#" {%if allowcourse.sql %} data=sql {%endif%}>SQL/Plsql</a>
				      </li>
				      <li class="nav-item {%if subject == 'html'%} select {%endif%}">
				        <a class="nav-link" href="#" {%if allowcourse.html %} data=html {%endif%}>HTML 5</a>
				      </li>
				      <li class="nav-item {%if subject == 'css'%} select {%endif%}">
				        <a class="nav-link" href="#" {%if allowcourse.css %} data=css {%endif%}>CSS 3</a>
				      </li>
				      <li class="nav-item {%if subject == 'bootstrap'%} select {%endif%}">
				        <a class="nav-link" href="#" {%if allowcourse.bootstrap %} data=bootstrap {%endif%}>Bootstrap</a>
				      </li>
				      <li class="nav-item {%if subject == 'javascript'%} select {%endif%}">
				        <a class="nav-link" href="#" {%if allowcourse.javascript %} data=javascript {%endif%}>JavaScript</a>
				      </li>
				      <li class="nav-item {%if subject == 'jquery'%} select {%endif%}">
				        <a class="nav-link" href="#" {%if allowcourse.jquery %} data=jquery {%endif%}>JQuery</a>
				      </li>
				      <span class="navbar-brand">&nbspYour Domain</span>
				      {%if st.python%}
				      <li class="nav-item {%if subject == 'python'%} select {%endif%}">
				        <a class="nav-link" href="#" {%if allowcourse.python %} data=python {%endif%}>Python</a>
				      </li>
				      {%endif%}
				      {%if st.flask%}
				      <li class="nav-item {%if subject == 'flask'%} select {%endif%}">
				        <a class="nav-link" href="#" {%if allowcourse.flask %} data=flask {%endif%}>Flask</a>
				      </li>
				      {%endif%}
				      {%if st.django%}
				      <li class="nav-item {%if subject == 'django'%} select {%endif%}">
				        <a class="nav-link" href="#" {%if allowcourse.django %} data=django {%endif%}>Django</a>
				      </li>
				      {%endif%}
				      {%if st.php%}
				      <li class="nav-item {%if subject == 'php'%} select {%endif%}">
				        <a class="nav-link" href="#" {%if allowcourse.php %} data=php {%endif%}>PHP</a>
				      </li>
				      {%endif%}
				      {%if st.java%}
				      <li class="nav-item {%if subject == 'java'%} select {%endif%}">
				        <a class="nav-link" href="#" {%if allowcourse.java %} data=java {%endif%}>Java</a>
				      </li>
				      {%endif%}
				      {%if st.testing%}
				      <li class="nav-item {%if subject == 'testing'%} select {%endif%}">
				        <a class="nav-link" href="#" {%if allowcourse.testing %} data=testing {%endif%}>Testing</a>
				      </li>
				      {%endif%}
				      <li class="nav-item" style="padding: 10px;text-align: center;margin-bottom: 10px;">
				        <a class="logout" href="{%url 'logout'%}">Log Out</a>
				      </li>
				    </ul>
			  	</div>
			</nav>
		</div>
			<!-- <div class="col-sm-12 col-md-10 pannel" style=""> -->
				{{body content}}
			<!-- </div> -->
		</div>	
	</div>

	<footer style="height: 100px;background-color: #eee;"></footer>
</body>
<script type="text/javascript">
	$(document).ready(function(){
	  $(".tabs").click(function(){
	  	if($(this).attr('data')=='c'){
			// alert("");
			var data=$(this).attr('data');
	  		var link="/videoself/"+data;
	  		console.log(link);
	  		location.replace(link);
		}

	  	else if($(this).attr('data')){
	  		var data=$(this).attr('data');
	  		var link="/video/"+data;
	  		console.log(link);
	  		location.replace(link);
	  	}
	  	else{
	  		alert("This module is locked");
	  	}
	  });
	  $(".nav-link").click(function(){
	  	if($(this).attr('data')){
	  		var data=$(this).attr('data');
	  		var link="/video/"+data;
	  		console.log(link);
	  		location.replace(link);
	  	}
	  	else{
	  		alert("This module is locked");
	  	}
	  });

	}); 

	$(window).load(function(){
		// alert($(window).width());
		if ($(window).width()<600) {
			$(".logo-nav").parent().removeClass("hide");
			$('.logout').addClass('hide');
			$('header').css('display','none');
			// $('.navbar-brand').css({'background-color':'white'});
		}
		else{
			$('.logout').removeClass('hide');
			$('header').css('display','inherit');
		}
	  });
	$(window).resize(function(){
		// alert($(window).width());
		if ($(window).width()<600) {
			$(".logo-nav").parent().removeClass("hide");
			$('.logout').addClass('hide');
			$('header').css('display','none');
		}
		else{
			$(".logo-nav").parent().addClass("hide");
			$('.logout').removeClass('hide');
			$('header').css('display','inherit');
		}
	  });

	function filter(){
	  	// console.log($("input[name='search']"inherit).val());
	  	var search=$("input[name='search']").val();
	  	console.log(search);
	  	// console.log($(".tabs").attr('data').search(search));
	  	$(".tabs h4").each(function() {
	  		// $(".tabs").hide();
	  		console.log($(this).attr("data"));
	  		var data=$(this).text();
	  		// console.log(data);
	  		// console.log(data.toLowerCase().search(search.toLowerCase()));
	  		if (search) {
	  			if (data.toLowerCase().search(search.toLowerCase())>=0) {
			  		$(this).parent().show();
			  	}
			  	else{
			  		$(this).parent().parent().parent().hide();
			  	}
	  		}
	  		else{
	  			$(".tabs").show();
	  		}
	  		
	  	})
	  	
	  }

	  $(".navbar-toggler").click(function(){
	  	$("#navbarNavDropdown").toggleClass("collapse");
	  	$('.logout').toggleClass('hide');
	  	// $('nav').toggle(
	  	// 	function(){$('nav').css({'margin-bottom':'40px'});})
	  });

	function setCookie() {
		console.log($("#username").val());
	  var d = new Date();
	  d.setTime(d.getTime() + (7*24*60*60*1000));
	  var expires = "expires="+ d.toUTCString();
	  document.cookie = "username = cvalue; expires = "+expires+" ;path=/";
	}


</script>



</html>